.wrapper {
  padding: 29px 21px;
  > p {
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      color: #333;
      font-size: 16px;
    }
    svg {
      margin-left: 10px;
      cursor: pointer;
    }
  }
  :global(.ant-breadcrumb) {
    display: inline-block;
    svg {
      margin-left: 8px;
    }
  }
  > button,
  section > button {
    float: right;
    color: #2a7fff;
    width: 104px;
    height: 36px;
    padding: 0;
    margin-left: 20px;
    border: none;
  }
  :global(.ant-table-thead > tr > th) {
    padding:0 16px;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dcdee3;
  }

  :global(.ant-table-thead > tr:first-child > th:first-child) {
    border-radius: 0px;
  }

  :global(.ant-table-thead > tr:first-child > th:last-child) {
    border-radius: 0px;
  }

  :global(.ant-table-tbody > tr > td) {
    padding:0 16px;
    height: 50px;
    border-bottom: 1px solid #dcdee3;
  }

  :global(.ant-table-tbody
      > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
      > td) {
    background-color: #e7f0ff;
  }

  :global(.ant-table-tbody > tr:last-child > td) {
    border-bottom: 0;
  }

  :global(.ant-table-column-title) {
    color: #333333;
    font-weight: bold;
    font-size: 15px;
  }

  :global(.ant-checkbox-inner) {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #2a7fff;
  }

  :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: transparent;
  }

  :global(.ant-radio) {
    position: relative;
    top: -4px
  }
  :global(.ant-checkbox-checked .ant-checkbox-inner::after) {
    border: 2px solid #2a7fff;
    border-top: 0;
    border-left: 0;
    height: 12px;
    width: 7px;
    top: 45%;
    left: 20%;
  }
  :global(.ant-checkbox-disabled.ant-checkbox-checked
      .ant-checkbox-inner::after) {
    border-color: #00000040;
  }
}

.tree {
  height: calc(100vh - 200px);
  margin-top: 26px;
  background-color: #fff;
  width: 100%;
  ul {
    margin: 0 20px;
    padding: 14px 0;
  }
  .button {
    position: absolute;
    margin-left: 242px;
    margin-top: 16px;
    z-index: 2;
  }
  .title-wrap {
    display: flex;
    align-items: center;
    :nth-child(1) {
      width: 13px;
    }
  }

  :global {
    .ant-tree-title svg {
      display: none;
      margin-left: 20px;
      width: 16px;
      height: 16px;
    }
    .ant-tree-node-content-wrapper:hover {
      svg {
        display: inline;
      }
    }
    .ant-tree-node-content-wrapper {
      display: inline-flex !important;
      width: 90%;
      .ant-tree-iconEle {
        margin: 3px 3px 0 0;
      }
      &.ant-tree-node-selected {
        background: transparent !important;
      }
    }
  }
}

:global {
  .ant-tree.ant-tree-show-line.hide-file-icon li {
    span.ant-tree-switcher-noop {
      background: transparent;
    }
    .ant-tree-switcher-noop > i {
      visibility: hidden;
    }
    .ant-tree-switcher-noop:after {
      content: " ";
      height: 12px;
      border: 1px solid #9c9b9b;
      width: 12px;
      position: absolute;
      left: 6px;
      top: 25%;
      margin: 0;
      box-shadow: 0 0 2px #888888;
    }
  }
}

.customWidageWrapper {
  .customWidage {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum", "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    min-height: 38px;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    line-height: 2;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all 0.3s;
    &:hover {
      border-color: #40a9ff;
      border-right-width: 1px !important;
      outline: 0;
    }
    &.active {
      border-color: #40a9ff;
      border-right-width: 1px !important;
      outline: 0;
    }
    .customTabs {
      position: absolute;
      z-index: 1000;
      width: 100%;
      background: white;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      left: 0;
      top: 105%;
    }
    :global(.ant-checkbox-inner) {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      border: 1px solid #2a7fff;
    }
  
    :global(.ant-checkbox-checked .ant-checkbox-inner) {
      background-color: transparent;
    }
  
    :global(.ant-checkbox-checked .ant-checkbox-inner::after) {
      border: 2px solid #2a7fff;
      border-top: 0;
      border-left: 0;
      height: 12px;
      width: 7px;
      top: 45%;
      left: 20%;
    }
    :global(.ant-checkbox-disabled.ant-checkbox-checked
        .ant-checkbox-inner::after) {
      border-color: #00000040;
    }
  }

  .customTabPane {
    padding: 10px;
    position: relative;
    .search {
      :global(.ant-input) {
        border-radius: 18px;
      }
      
    }
    .customTabPaneRow {
      padding: 5px;
      &.disabled {
        color: rgba(0, 0, 0, 0.4);
      }
    }
    .customTabPaneContent {
      height: 300px;
      overflow: auto;
    }
  }
}