html,
body {
  height: 100%;
  margin: 0 auto;
  background: #f3f4f5;
  width: 100%;
  overflow-x: hidden;
}
body {
  overflow-y: auto !important;
}

@media only screen and (max-width: 560px) {
  html,
  body {
    font-size: 13.33333333vw;
    font-size: 50px;
    max-width: 560px;
  }
}

@media screen and (min-width: 561px) and (max-width: 750px) {
  html,
  body {
    font-size: 13.33333333vw;
    font-size: 54px;
    max-width: 750px;
  }
}

@media screen and (min-width: 750) {
  html,
  body {
    font-size: 13.33333333vw;
    font-size: 54px;
    max-width: 750px;
  }
}
