.isMobile {
  .formBuilder-Header {
    display: none;
  }
  .formBuilder-Submission {
    width: 100%;
    padding-top: 0px;
    position: relative;
    min-height: auto;
    .Content {
      width: 100%;
      margin-top: 0px;
      min-height: auto;
      .submission-title {
        font-size: 0.44rem;
      }
      .form-layout {
        width: 90%;
        margin-left: 5%;
        .ant-form {
          .ant-row {
            .ant-form-item-label {
              .label-default {
                font-size: 0.26rem;
                font-weight: 500;
                font-family: "PingFangSC-Medium, PingFang SC";
                color: #333;
                line-height: 0.4rem;
                height: 0.4rem;
                .red-star {
                  font-size: 0.2rem;
                }
              }
              .lengthTip {
                font-size: 0.26rem;
                font-family: "PingFangSC-Medium, PingFang SC";
                color: #333;
                line-height: 0.4rem;
                height: 0.4rem;
              }
              .radio-tooltip {
                color: #92979f;
                font-size: 0.24rem;
                margin-top: 0.07rem;
                line-height: 0.4rem;
                height: 0.4rem;
              }
            }
            .ant-form-item-control {
              .ant-form-item-children {
                position: static;

                .signature-btn {
                  width: 100%;
                  font-size: 0.28rem;
                  font-weight: 400;
                  color: rgba(51, 51, 51, 1);
                }
                #canvasParent {
                  position: fixed;
                  top: 0px;
                  left: 0px;
                  z-index: 100;
                  background: #fff;
                  display: flex;
                  flex-direction: column;
                  .canvas-header {
                    height: 0.96rem;
                    flex: 0 0 0.96rem;
                    line-height: 0.96rem;
                    font-size: 0.34rem;
                    font-weight: normal;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                  .canvas-back {
                    position: absolute;
                    top: 0;
                    left: 0;
                    padding-left: 0.31rem;
                    outline: none;
                    border: none;
                    height: 0.96rem;
                    display: flex;
                    align-items: center;
                  }
                  canvas {
                    flex: 1 1 auto;
                    background: #f7f7f7;
                  }
                  .canvas-operate {
                    flex: 0 0 1.2rem;
                    height: 1.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button {
                      width: 6.19rem;
                      margin: 0.31rem 0.4rem 0.31rem 0.48rem;
                      border-radius: 0.47rem;
                      align-self: center;
                    }
                    button:nth-child(1) {
                      background: #fff;
                      color: #3786fe;
                    }
                  }
                }
                .canvas-result-content {
                  width: 100%;
                  height: 2rem;
                  display: flex;
                  justify-content: center;
                  .canvas-result {
                    width: 4rem;
                    height: 2rem;
                  }
                }
              }
            }

            .ant-form-item-control-wrapper {
              .ant-form-item-children {
                .localposition-container {
                  width: 100%;
                  .err-msg {
                    color: red;
                  }

                  .disable-ajustmentrange-position-container {
                    .address-wrapper {
                      display: block;
                      width: 100%;
                      height: 1.7rem;
                      line-height: 0.4rem;
                      border-width: 1px;
                      padding: 5px 10px;

                      .clear-btn {
                        position: absolute;
                        width: 2.1rem;
                        top: 1.1rem;
                      }
                    }
                  }

                  .ajustment-position-warpper {
                    .address-wrapper {
                      display: block;
                      width: 100%;
                      height: 1.7rem;
                      line-height: 0.4rem;
                      border-width: 1px;
                      padding: 5px 10px;

                      .clear-btn {
                        position: absolute;
                        width: 2.1rem;
                        top: 1.1rem;
                      }
                    }
                  }

                  .position-list-map-container {
                    z-index: 100;
                    position: fixed;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    background-color: white;

                    .map-title {
                      margin-left: 3.03rem;
                      font-size: 0.34rem;
                    }

                    .map-back-icon {
                      margin-left: 0.37rem;
                      font-size: 0.34rem;
                    }

                    .map-container {
                      width: 100%;
                      height: 35%;
                    }

                    .posi-list-container {
                      height: 50%;
                      // line-height: 0.4rem;
                    }
                  }

                  .ant-btn-dash {
                    margin-top: 0.2rem;
                    width: 100%;
                  }
                }
                .fileUploadMobileContainer {
                  .fileUploadBtn {
                    width: 100%;
                    height: 0.74rem;
                    border-radius: 0.04rem;
                    position: relative;
                    input {
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      z-index: 111;
                      top: 0;
                      left: 0;
                      opacity: 0;
                    }
                    .ant-btn {
                      position: absolute;
                      width: 100%;
                      height: 0.74rem;
                      border-radius: 0.04rem;
                      border: 0.01rem dashed rgba(206, 207, 213, 1);
                      z-index: 1;
                      top: 0;
                      left: 0;
                      .fileUploadStatus {
                        span {
                          margin-left: 0.05rem;
                          font-family: "PingFangSC-Regular", "PingFang SC";
                          font-weight: 400;
                          color: rgba(51, 51, 51, 1);
                        }
                        i {
                          font-size: 0.27rem;
                          color: rgba(51, 51, 51, 1);
                        }
                      }
                    }
                  }
                  .showFileList {
                    .fileItem {
                      width: 100%;
                      height: 0.74rem;
                      position: relative;
                      display: flex;
                      align-items: center;
                      margin-top: 0.07rem;
                      border: none;
                      .fileName {
                        flex: 4;
                        margin-right: 0.2rem;
                        height: 0.74rem;
                        background: rgba(239, 240, 248, 1);
                        border-radius: 0.05rem;
                        display: flex;
                        align-items: center;
                        i {
                          margin-left: 0.17rem;
                        }
                        span {
                          display: inline-block;
                          margin-left: 0.08rem;
                          font-size: 0.26rem;
                          font-family: "PingFangSC-Regular", "PingFang SC";
                          font-weight: 400;
                          color: rgba(51, 51, 51, 1);
                        }
                      }
                      .deleteSpan {
                        flex: 1;
                        background-color: rgba(239, 240, 248, 1);
                        color: rgba(252, 87, 87, 1);
                        width: 1.7rem;
                        height: 0.74rem;
                        text-align: center;
                        line-height: 0.74rem;
                      }
                    }
                  }
                }
                .imageUploadMobileContainer {
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  .imageUploadBtn {
                    position: relative;
                    width: 1.9rem;
                    height: 1.9rem;
                    .ant-btn {
                      width: 1.9rem;
                      height: 1.9rem;
                      border: 0.01rem dashed rgba(170, 170, 170, 1);
                      position: absolute;
                      left: 0;
                      top: 0;
                      z-index: 1;
                      i {
                        font-size: 0.54rem;
                        display: block;
                      }
                      span {
                        font-size: 0.28rem;
                        font-family: "PingFangSC-Regular", "PingFang SC";
                        font-weight: 400;
                        margin-top: 0.08rem;
                        margin-left: 0rem;
                        color: rgba(153, 153, 153, 1);
                      }
                    }
                    input {
                      width: 1.9rem;
                      height: 1.9rem;
                      position: absolute;
                      left: 0;
                      top: 0;
                      opacity: 0;
                      z-index: 111;
                    }
                  }

                  .imgItem {
                    width: 1.9rem;
                    height: 1.9rem;
                    margin-right: 0.12rem;
                    margin-bottom: 0.07rem;
                    position: relative;
                    &:nth-child(2) {
                      margin-left: 0.12rem;
                    }
                    img {
                      width: 100%;
                      height: 100%;
                      z-index: 1;
                    }
                    .imgDeleteBtn {
                      z-index: 66;
                      position: absolute;
                      width: 0.05rem;
                      height: 0.08rem;
                      right: 0.12rem;
                      top: -0.12rem;
                      border-radius: 50%;
                      i {
                        font-size: 0.28rem;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  // 地址样式
  .form-address {
    .row.mobile {
      & > div {
        width: 100%;
      }
      textarea.ant-input {
        border: none;
        resize: none;
        border: 1px solid #eee;
        &:focus {
          // outline: none;
          // border: none;
          box-shadow: none;
        }
      }
      &.detail {
        display: block;
        .am-list-line {
          .am-list-extra {
            font-size: 0.28rem;
          }
        }
        .address-detail {
          color: #888;
          font-size: 0.28rem;
          line-height: 0.28rem;
          margin: 0;
          margin-bottom: 4px;
          line-height: 1;
          padding: 0.23rem 0;
        }
      }
    }
  }

  // 子表单样式
  .form-child-mobile {
    .form-child-block {
      box-shadow: 0px 2px 8px 0px rgba(217, 217, 217, 0.5);
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 0.15rem;
      .list {
        list-style: none;
        padding: 0 0.32rem;
        color: #333;
        li {
          border-bottom: 1px solid rgba(238, 238, 238, 1);
          margin-bottom: 0.17rem;
          .formchild-item-title-required {
            font-size: 0.26rem;
            &::after {
              content: "*";
              color: red;
              font-size: 0.26rem;
              margin-left: 5px;
            }
          }
        }
      }
      .footer-wrap {
        margin-bottom: 0.15rem;
        display: flex;
        justify-content: flex-end;
        padding-right: 0.35rem;
        .btn {
          width: 1.4rem;
          height: 0.58rem;
          border-radius: 0.05rem;
          background-color: #eff0f8;
          border: none;
          color: #666;
          &:hover {
            color: #3786fe;
          }
        }
      }
    }
    .hide-state {
      .title-list {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        span {
          border-right: 1px solid #333;
          padding: 0 5px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          &:last-child {
            border: none;
          }
          &:first-child {
            padding-left: 0;
          }
        }
      }
    }
    .form-child-container {
      .list {
        li {
          border-bottom: none;
          padding: 0.1rem;
        }
        .has-user-error {
          // background: #FCE0C0;
          .item-error-info {
            color: #f04134;
            font-size: 0.18rem;
          }
        }
      }
    }
    .form-child-errInfo {
      color: red;
      font-size: 0.2rem;
    }

    // 文本输入框样式
    .form-input {
      border: none;
      border-bottom: 1px solid #eee;
      padding: 0;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    // 多选框样式
    .formchild-checkbox,
    .formchild-radio {
      display: block;
      line-height: 0.5rem !important;
      font-size: 0.28rem !important;
    }

    // 添加记录 按钮
    .add-formchild-btn {
      width: 99.8%;
      height: 0.74rem;
      margin: 0 auto;
    }

    // 地址
    .ant-row.ant-form-item {
      margin-bottom: 0 !important;
      .err-message {
        display: none !important;
      }
    }
  }
  // 下拉单选样式

  .ant-drawer-content-wrapper {
    height: 5.5rem !important;
    .ant-drawer-content {
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      height: 5.5rem;
      overflow: hidden;
      .ant-drawer-wrapper-body {
        margin-right: -0.08rem;
        overflow: initial;
        .ant-drawer-header {
          border: none;
          position: sticky;
          padding: 0;
          padding-bottom: 0.48rem;
          top: 0;
          .ant-drawer-title {
            .dropDown-header {
              padding: 0.37rem 0.39rem 0 0.3rem;
              display: flex;
              justify-content: space-between;
              height: 0.7rem;
              span {
                color: #333;
                font-size: 0.31rem;
              }
              .dropDown-header-cancle {
                color: #999;
              }
            }
          }
        }
        .ant-drawer-body {
          width: 100%;
          padding-top: 0;
          overflow-y: scroll;
          height: 5rem;
          .dropDown-list {
            padding: 0 0.3rem 0 0.3rem;
            overflow-y: hidden;
            li {
              position: relative;
              font-size: 0.28rem;
              color: #333333;
              height: 0.74rem;
              line-height: 0.74rem;
              .dropDown-check-icon {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
  }

  //多选样式
  .checkboxGroup {
    height: auto;
    width: 100%;
    cursor: pointer;
    line-height: 0.5rem;
    .checkboxOption {
      i {
        display: inline-block;
        width: 0.28rem;
        height: 0.28rem;
        border: 0.02rem solid #91a1b7;
        position: relative;
        background: #fff;
        transition: all 218ms ease-in-out;
        top: 0.05rem;
        &:before {
          content: " ";
          display: block;
          opacity: 1;
          height: 0.12rem;
          width: 0.2rem;
          border-left: solid 0.04rem #fff;
          border-bottom: solid 0.04rem #fff;
          position: absolute;
          top: 0.02rem;
          left: 0.02rem;
          transform: rotate(-45deg);
        }
      }
      span {
        margin-left: 0.05rem;
        font-size: 0.28rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
      }
      .selectOption {
        background-color: #007aff;
      }
    }
  }

  //单选样式
  .radioGroup {
    height: auto;
    width: 100%;
    cursor: pointer;
    line-height: 0.5rem;
    .radioOption {
      .out_i {
        display: inline-block;
        border-radius: 50%;
        width: 0.28rem;
        height: 0.28rem;
        border: 0.02rem solid #91a1b7;
        position: relative;
        background: #fff;
        transition: all 218ms ease-in-out;
        top: 0.05rem;
        line-height: 0.28rem;
        .inner_i {
          display: inline-block;
          border-radius: 50%;
          width: 0.16rem;
          height: 0.16rem;
          position: absolute;
          left: 0.04rem;
          top: 0.05rem;
          transition: all 218ms ease-in-out;
        }
      }
      span {
        margin-left: 0.05rem;
        font-size: 0.28rem;
        font-family: PingFangSC-Regular, PingFang SC;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
      }
      .selectOption {
        background-color: #007aff;
      }
    }
  }

  // 下拉多选
  .Input-content {
    .errorMsg {
      margin-top: 7px;
      margin-bottom: -8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #f5222d;
      font-size: 14px;
    }
  }
  .ant-drawer-content-wrapper {
    height: 5.5rem !important;
    .ant-drawer-content {
      border-top-left-radius: 0.3rem;
      border-top-right-radius: 0.3rem;
      height: 5.5rem;
      overflow: hidden;
      .ant-drawer-wrapper-body {
        margin-right: -0.08rem;
        overflow: initial;
        .ant-drawer-header {
          padding: 0;
          border: none;
          position: sticky;
          padding-bottom: 0.48rem;
          top: 0;
          .ant-drawer-title {
            .multiDropDown-header {
              padding: 0.37rem 0.39rem 0 0.3rem;
              display: flex;
              justify-content: space-between;
              height: 0.7rem;
              span {
                color: #333;
                font-size: 0.31rem;
              }
              .multiDropDown-header-cancle {
                color: #999;
              }
            }
          }
        }
        .ant-drawer-body {
          width: 100%;
          padding-top: 0;
          overflow-y: scroll;
          height: 5rem;
          .multiDropDown-list {
            padding: 0 0.3rem 0 0.3rem;
            overflow-y: hidden;
            li {
              position: relative;
              font-size: 0.28rem;
              color: #333333;
              height: 0.74rem;
              line-height: 0.74rem;
              .multiDropDown-check-icon {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
  }
}

// 公共样式
.mobile-list-default {
  border-bottom: 1px solid #eee;
  padding-left: 0;
  .am-list-line {
    .am-list-content {
      color: #aaaaaa;
    }
    .am-list-extra {
      flex: 1;
      text-align: left;
      font-size: 0.28rem;
    }
  }
}

.am-action-sheet-button-list-item {
  padding: 0px;
  position: relative;
  input {
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 111;
    position: absolute;
  }
  p {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0px;
  }
}

.ant-modal-content {
  .uploadChoicesContainer {
    width: 100%;
    height: 100%;
    border-radius: 5%;
    display: flex;
    align-items: center;
    background-color: rgba(239, 240, 248, 1);
    .uploadChoices {
      height: 1.5rem;
      width: 4rem;
      margin: auto;
      .uploadChoiceItem {
        position: relative;
        height: 1.5rem;
        width: 1.5rem;
        border: 0.01rem dashed rgba(206, 207, 213, 1);
        display: inline-block;
        &:nth-child(2) {
          margin-left: 1rem;
        }
        input {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 111;
          opacity: 0;
        }
        .choiceHover {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 1;
          text-align: center;
          i {
            margin-top: 0.15rem;
            font-size: 0.68rem;
            display: block;
          }
          span {
            margin-top: 0.05rem;
            font-size: 0.28rem;
          }
        }
      }
    }
  }
}
