.title {
  font-size: 20px;
  line-height: 26px;
  color: #000;
}

.text {
  font-size: 14px;
  margin: 43px 0 29px;
  color: #333333;
}

.btn {
  width: 104px;
  background: #2a7fff !important;
  border-radius: 3px !important;
  img {
    margin-bottom: 3px;
    margin-right: 5px;
  }
}

.warn {
  color: #b6b6ba;
  margin-top: 18px;
}

.action {
  color: #666;
}
