.title {
  font-size: 20px;
  line-height: 26px;
  color: #000;
}

.text {
  font-size: 14px;
  margin: 43px 0 29px;
  color: #333333;
}

.btn {
  height: 36px !important;
  background: #2a7fff !important;
  border-radius: 3px !important;
}

.warn {
  color: #b6b6ba;
  margin-top: 18px;
}

.action {
  color: #666;
}
