.title {
  font-size: 20px;
  line-height: 26px;
  color: #000;
}

.text {
  font-size: 14px;
  margin: 43px 0 29px;
  color: #333333;
}

.warn {
  color: #b6b6ba;
  margin-top: 18px;
}

.action {
  color: #666;
}
.inviteModal {
  .input {
    margin-right: 10px;
    background-color: #f3f4f6;
  }
  :global(.ant-modal-body) {
    padding: 46px 30px 182px;
    box-shadow: 0px 4px 26px rgba(46, 106, 162, 0.25);
    border-radius: 5px;
  }
}
