.wrapper {
  padding: 10px;
}

.setting {
  background: rgba(245, 245, 245, 1);
  & > div {
    margin: 30px auto;
    width: 85%;
  }
}
.title {
  justify-content: center;
}
.metedate {
  & > div:nth-of-type(1) {
    font-weight: bold;
    font-size: 15px;
    color: rgba(72, 72, 72, 1);
  }
  & > div:nth-of-type(2) > div {
    font-size: 15px;
    margin: 0;
  }
}
.panel {
  margin: 10px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  & > div:nth-of-type(1) {
    display: inherit;
    align-items: center;
    & > span {
      margin: 0 10px 0 0;
      font-size: 17px;
      font-weight: 500;
      color: rgba(72, 72, 72, 1);
    }
  }
}

.thunk {
  margin: 20px 0 0 0;
}

// 应用权限设置
.apsLayout {
  width: 100%;
  display: flex;
  justify-content: center;
}
.aps {
  width: 100%;
}
//** top
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #333333;
  cursor: pointer;
  & > span {
    display: block;
  }
  & > a {
    display: flex;
    & > span {
      display: inherit;
      align-items: center;
    }
  }
}

.btn {
  & > button {
    margin-left: 20px;
    border-radius: 3px !important;
    width: 104px;
    height: 36px;
    border:none;
  }
  & > button:first-child {
    background: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #2a7fff;
    border:1px solid #2a7fff;
    background-color: transparent;
  }
  & > button:last-child {
    background: #2a7fff;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #ffffff;
  }
}

//** meteData
.meteData {
  margin-top: 70px;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgba(180, 198, 224, 0.28);
  position: relative;
  & > div:first-child {
    background: #f0f2f5;
    position: absolute;
    top: -40px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    /* identical to box height */
    color: #777f97;
  }
  & > div:nth-child(1) {
    margin-bottom: 20px;
  }
}

.form {
  width: calc(100% - 60px);
  margin: 0 32px 0 28px;
  padding-bottom: 20px;
  & > div:first-child {
    display: flex;
    align-items: center;
    width: 240px;
    height: 40px;
    padding-top: 20px;
    margin-right: 5px;
    & > div {
      width: 42px;
      height: 22px;
      background: #EAF2FF;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      & > span {
        color: #2a7fff;
      }
    }
    & > span {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #333333;
    }
  }
  & > div:nth-child(2) {
    height: 40px;
    padding-top: 20px;
    width: 100%;
    & > div {
      width: 100%;
      height: 20px;
      margin: 0;
      border: none;
    }
  }
  & > :nth-child(3) {
    margin-top: 20px;
  }
}

.table {
  width: 100%;
  margin: 10px 0 0 0;
  // table-layout: fixed;
  background: #ffffff;
  border: 1px solid #d6d8de;
  box-sizing: border-box;
  & tr {
    height: 40px;
    border-bottom: 1px solid #d6d8de;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #777f97;
  }
  & th {
    text-align: center;
    &:nth-of-type(1) {
      text-indent: 40px;
      text-align: left;
    }
  }
  & td {
    text-align: center;
    &:nth-of-type(1) {
      text-indent: 40px;
      width: 200px;
      text-align: left;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;

      color: #333333;
    }
  }
}

.radioThunk {
  display: flex;
  height: 64px;
  justify-content: center;
  & > div {
    width: calc(100% - 60px);
    height: 64px;
    margin: 0 32px 0 28px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d6d8de;
    & > span:first-child {
      display: block;
      width: 240px;
    }
  }
}

.checkBox {
  & > span {
    & > span {
      width: 20px;
      height: 20px;
      border: 1px solid #2a7fff;
      box-sizing: border-box;
      border-radius: 3px;
      background-color: #ffffff !important;
      &::after {
        top: 44%;
        left: 20% !important;
        height: 12px;
        width: 6px;
        border: 2px solid #2a7fff !important;
        border-left: none !important;
        border-top: none !important;
      }
    }
  }
}
