.wrapper {
  padding: 10px;
}

.setting {
  background: rgba(245, 245, 245, 1);
  & > div {
    margin: 30px auto;
    width: 85%;
  }
}
.title {
  justify-content: center;
}
.metedate {
  & > div:nth-of-type(1) {
    font-weight: bold;
    font-size: 15px;
    color: rgba(72, 72, 72, 1);
  }
  & > div:nth-of-type(2) > div {
    font-size: 15px;
    margin: 0;
  }
}
.panel {
  margin: 10px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  & > div:nth-of-type(1) {
    display: inherit;
    align-items: center;
    & > span {
      margin: 0 10px 0 0;
      font-size: 17px;
      font-weight: 500;
      color: rgba(72, 72, 72, 1);
    }
  }
}

.thunk {
  margin: 20px 0 0 0;
}

.table {
  width: 100%;
  margin: 10px 0 20px 0;
  // table-layout: fixed;
  & tr {
    height: 40px;
    border: 1px solid rgba(151, 151, 151, 1);
  }
  & th {
    text-indent: 40px;
    text-align: center;
    &:nth-of-type(1) {
      text-align: left;
    }
  }
  & td {
    text-indent: 40px;
    text-align: center;
    &:nth-of-type(1) {
      text-align: left;
    }
  }
  & > thead {
    & > tr {
      background: rgba(192, 192, 192, 1);
    }
  }
  & > tbody {
    & > tr {
      background: rgba(255, 255, 255, 1);
    }
  }
}
