.chartTitle{
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  padding-left: 20px;
}

.chartContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 0 12px 12px;
  background: #ffffff;
  position: relative;
}
