.chart-editor {
  display: inline-flex;
}

.bind-container {
  min-width: 1000px;
  width: 70%;
}

.chart-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 400px;
  margin: 12px;
  background: #ffffff;
  position: relative;
  .chart-title{
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    padding-left: 20px;
  }
  .iconBtn {
    height: 100%;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    z-index: 100;
    i {
      font-size: 16px;
      color: #4f95ff;
      margin-left: 3px;
      padding: 5px;
      &:hover{
        background-color: #EBEBEB;
      }
    }
  }
}
