.elementHeader {
  height: 50px;
  line-height: 50px;
  background-color: #2B81FF;
  color: #fff;

  .ant-btn {
    height: 50px;
  }
}

.elementHeaderBack {
  height: 30px;
  width: 2%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  .ant-btn-link {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(250, 251, 252);
  }
  .ant-btn {
    padding: 0px;
  }
}

.renameElement {
  display: inline;
  border: none;
  margin-left: 10px;
  background-color: transparent;
  color: #FFFFFF;
}

.elementHeaderSave {
  float: right;
  margin-right: 15px;
  top: 10px;
  span {
    background-color: #fff;
    color: rgb(38, 163, 240);
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 6%;
  }
}

.blankElement {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.indexSum{
  width: 300px;
  height: 200px;
  margin: auto;
  // border: 1px solid red;
  display: flex;
  justify-content:center;
  align-items:center;
  .indexCount{
    font-size: 60px;
    color: #000;
  }
}

.indexChart{
  width: 90%;
  height: 490px;
  margin: auto;
  box-sizing: border-box;
  // border: 1px solid red;
  overflow: scroll;
  .indexTable{
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    &:nth-child(2n+1){
      background-color: rgba(43, 129, 255, 0.1);
    }
    &:first-child{
      color: #2B81FF;
      font-weight: bold;
    }
  }
}