.sectionWrapper {
  &:after{
    content: '';
    position: absolute;
    left: 16px;
    right: 16px;
    height: 1pX;
    background-color: #DCDEE3;
  }
  .sectionContent {
    margin-bottom: 20px;
    :global(.ant-menu-vertical) {
      border: none;
    }
    :global(.ant-menu-item:not(:last-child)) {
      margin-top: 0;
      margin-bottom: 0;
    }
    :global(.ant-menu-item) {
      margin-top: 0;
      margin-bottom: 0;
    }
    :global(.ant-menu-item-selected) {
      &:before {
        border-left: 4px solid #1890ff;
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
      }
    }
  }
  .item {
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
    color: #333;
    &:hover {
      background:#E7F0FF;
      color: #333;
    }
    svg {
      position: relative;
      top: 2px;
    }
    .tag {
      position: absolute;
      right: 20px;
      top: 12px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      font-size: 12px;
      color: #FFFFFF;
      border-radius: 50%;
      background: #F03F3F;
    }
  }
}
