.sectionWrapper {
  padding: 10px;
  .sectionContent {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
  }
  .item {
    padding: 0 10px;
    cursor: pointer;
    position: relative;
    &:hover {
      background: #ad3;
    }
    .tag {
      position: absolute;
      border-radius: 50%;
      text-align: center;
      font-size: 12px;
      width: 16px;
      height: 16px;
      background: #f50;
      color: #fff;
      top: 11px;
      right: 15px;
    }
  }
}
