.sectionWrapper {
  .sectionContent {
    &:after{
      content: '';
      position: absolute;
      left: 16px;
      right: 16px;
      height: 1pX;
      background-color: #e8e8e8;
    }
    :global(.ant-menu-vertical) {
      border: none;
    }
    :global(.ant-menu-item-selected) {
      &:before {
        border-left: 4px solid #1890ff;
        content: "";
        position: absolute;
        left: 0;
        height: 100%;
      }
    }
  }
  .item {
    padding: 8px 10px;
    cursor: pointer;
    color: #333;
    &:hover {
      background:rgba(42, 127, 255, 0.15);
      color: #333;
    }
    svg {
      position: relative;
      top: 2px;
    }
    .tag {
      position: absolute;
      left: 100px;
      top: 12px;
      width: 18px;
      height: 18px;
      line-height: 18px;
      text-align: center;
      font-size: 12px;
      color: #2A7FFF;
      border-radius: 50%;
      background: rgba($color: #2A7FFF, $alpha: 0.1);
    }
  }
}
