stages:
  - run
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
variables:
  PORT: 9030
  REACT_APP_HOST_IP: http://192.168.3.105:9080
run:
  stage: run
  script:
    - docker-compose up -d --build
  tags:
    - 105shell
  only:
    - master
    - develop
