stages:
  - run
  - run-aliyun
cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
variables:
  PORT: 9030
  REACT_APP_HOST_IP: http://192.168.3.105:9080
run:
  stage: run
  script:
    - docker-compose up -d --build
  tags:
    - 105shell
  only:
    - develop
run-aliyun:
  stage: run-aliyun
  variables:
    PORT: 9030
    REACT_APP_HOST_IP: http://utranda.com:9080
    GIT_STRATEGY: none
  before_script:
    - pwd
    - rm -rf davinci-paas-frontend
    - git clone --depth=1 -b master --single-branch http://sz.wctsoft.top:8180/wct/davinci-paas-frontend.git
  script:
    - cd davinci-paas-frontend
    - docker-compose up -d --build
  tags:
    - aliyun
  only:
    - develop
