$unHoverGray: #b6b6ba;

.input {
  & > input {
    margin-left: 2px;
    width: calc(100% - 4px) !important;
  }
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/icons/login/background.svg");
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 1016px;
  height: 510px;
  border-radius: 10px;
  overflow: hidden;
}

.room {
  width: 1016px;
  height: 510px;
  display: flex;
  position: relative;
  & > div {
    width: 1016px;
    height: 510px;
    background: #ffffff;
    display: flex;
    & > div {
      width: 50%;
      height: 100%;
    }
  }
  & .input input {
    // border: 1px solid #d6d8de;
    box-sizing: border-box;
    height: 42px;
    background: #ffffff;
    border-radius: 6px;
    text-indent: 20px;
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;

    &::-webkit-input-placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #b6b6ba;
    }
    &::-moz-placeholder {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #b6b6ba;
    }
    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #b6b6ba;
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #b6b6ba;
    }
  }
}

.signin {
  & > div:first-child {
    width: 396px;
    & > svg {
      width: 349px;
      height: 342.72px;
      display: block;
      margin: 77px auto auto 73px;
    }
  }
  & > div:last-child {
    width: 620px;
    & > div {
      margin: 105px auto auto 109px;
      width: 413px;
    }
  }
  & form {
    & > div:last-child {
      & .input > input {
        width: 413px;
      }
    }
  }
}

.activeLeft {
  animation: actionLeft 1s;
  -webkit-animation: actionLeft 1s; /* Safari 与 Chrome */
  animation-fill-mode: forwards;
}

@keyframes actionLeft {
  from {
    left: 0;
  }
  to {
    left: -1016px;
  }
}
@-webkit-keyframes actionLeft /* Safari 与 Chrome */ {
  from {
    left: 0;
  }
  to {
    left: -1016px;
  }
}

.activeRight {
  animation: actionRight 1s;
  -webkit-animation: actionRight 1s; /* Safari 与 Chrome */
  animation-fill-mode: forwards;
}
@keyframes actionRight {
  from {
    left: -1016px;
  }
  to {
    left: 0;
  }
}
@-webkit-keyframes actionRight /* Safari 与 Chrome */ {
  from {
    left: -1016px;
  }
  to {
    left: 0;
  }
}

.registe {
  width: 1016px;
  height: 510px;
  & .title {
    padding-left: 80px;
    display: flex;
    flex-wrap: wrap;
    & > div {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #000000;
    }
  }
  & form {
    & :global(.ant-form-explain) {
      & > div {
        top: 7px !important;
        line-height: 25px !important;
        width: 150px !important;
      }
    }
    & > div > div:nth-of-type(2) > div {
      display: flex;
      & > span > span:nth-of-type(2) {
        position: absolute;
        right: -32px;
      }
      & > span > span:nth-of-type(3) {
        position: absolute;
        right: -32px;
      }
      & > span > span:last-child {
        position: absolute;
        right: -32px;
      }
      & > span > span:first-child {
        position: relative;
        right: 0;
      }
    }
  }
  & form {
    & button {
      height: 40px !important;
      background: #1890ff;
      // opacity: 0.5;
    }
    & > div:last-child {
      & button {
        width: 308px;
        margin-left: 81px;
        margin-top: 0;
      }
    }
    & > div {
      height: 40px;
      display: flex;
      & > div:first-child {
        width: 81px;
      }
    }
  }
  & .input {
    width: 308px;
    height: 40px;
    & > span {
      height: 40px;
    }
    & input {
      border-top-right-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
      height: 40px !important;
      text-indent: 0 !important;
    }
    & > #login-form_mobilePhone {
      width: 260px !important;
    }
  }
  & > div:first-child {
    width: 396px;
    & > svg {
      width: 306px;
      height: 339px;
      display: block;
      margin: 81px auto auto 73px;
    }
  }
  & > div:last-child {
    width: 620px;
    & > div {
      width: 544px;
      margin: 27px auto auto 48px;
    }
  }
}

.inviteUser {
  width: 100vw;
  height: 100vh;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  & > div {
    width: 720px;
    height: 400px;
    background: #ffffff;
    box-shadow: 0px 3px 12px rgba(108, 121, 166, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    & > .normal {
      & > div:first-child {
        margin-top: 76px;
        text-align: center;
        & > span {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #777f97;
        }
      }
      & > div:nth-child(2) {
        & > div {
          height: 44px;
          margin-top: 24px;
          display: flex;
          justify-content: center;
          & > button {
            width: 380px;
            border-radius: 6px;
            height: 44px;
            background: #f2f2f2;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #333333;
          }
        }
        & > div:first-child {
          margin-top: 50px;
          & > button {
            color: #ffffff;
            background: #2a7fff;
          }
        }
      }
    }
    // & > .result {
    //   display: block;
    //   & > div {
    //     margin-top: 10pxpx;
    //     text-align: center;
    //   }
    //   & > div:first-child {
    //     margin-top: 76px;
    //   }
    //   & > div:last-child {
    //     margin-top: 26px;
    //     & > button {
    //       width: 100px;
    //       background: #2a7fff;
    //     }
    //   }
    // }
  }
}

.normalTabName {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #777f97;
}

.activeTabName {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
}

.button {
  margin-top: 18px;
  width: 411px;
  height: 42px !important;
  border-radius: 6px !important;
  border: none !important;
  :hover {
    background: #1890ff !important;
  }
}

.buttonSuffix {
  text-align: center;
  width: 308px;
  margin-left: 81px;
  & > a {
    color: $unHoverGray;
    &:hover {
      color: #096dd9;
    }
  }
  & > span {
    color: $unHoverGray;
    cursor: pointer;
    &:hover {
      color: #096dd9;
    }
  }
}

.loginPhoneCard {
  & > input {
    border-radius: 6px !important;
  }
  & > span > span:last-child {
    border: none;
    padding: 0 0 0 14px;
    background-color: inherit;
  }
}

.authenticatedDiv {
  & > div {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    & > button {
      width: 300px;
    }
    & > a {
      width: 300px;
    }
  }
  & > hr {
    width: 340px;
    margin: 0 auto;
  }
}

.forgetPassword {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & > div {
    width: 980px;
    height: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid #2a7fff;
    border-radius: 5px 5px 0px 0px;
    background-color: #ffffff;
    & > form {
      width: 422px;
      height: 328px;
      & > div {
        display: flex;
        & input {
          width: 308px;
          height: 40px;
          border: 1px solid #d6d8de;
          box-sizing: border-box;
          border-radius: 6px;
        }
        & > div:first-child {
          width: 81px;
        }
      }
      & > div:first-child {
        & input {
          width: 260px;
          height: 40px;
          // border: 1px solid #d6d8de;
          box-sizing: border-box;
          border-radius: 6px;
        }
      }
      & > div:nth-child(2) {
        & input {
          width: 164px;
          border-top-right-radius: 6px !important;
          border-bottom-right-radius: 6px !important;
        }
        & button {
          width: 104px;
          padding-left: 14px;
          height: 40px !important;
          background: #1890ff !important;
          opacity: 0.5;
        }
      }
      & > div:nth-child(3) {
        & input {
          width: 308px !important;
          height: 40px;
          // border: 1px solid #d6d8de;
          box-sizing: border-box;
          border-radius: 6px;
        }
      }
      & > div:last-child {
        width: 308px;
        & button {
          width: 308px;
          margin-left: 81px;
          margin-top: 0;
        }
      }
      & > div {
        & > div:nth-child(2) {
          & > div {
            display: flex;
            & > div {
              position: absolute;
              right: 0;
              width: 0;
              height: 0;
              & > div {
                left: 32px !important;
              }
            }
            & > span {
              & > span:nth-child(2) {
                position: absolute;
                right: -32px;
              }
              & > span:nth-child(3) {
                position: absolute;
                right: -32px;
              }
            }
          }
        }
      }
    }
  }
}

.userDetailModalButton {
  & > button {
    width: 149px !important;
    height: 40px !important;
    border-radius: 6px !important;
    box-sizing: border-box;
    font-size: 14px !important;
  }
  & > button:first-child {
    color: #777f97 !important;
    background: #ffffff !important;
    box-shadow: 0px 3px 12px rgba(108, 121, 166, 0.1) !important;
    border: 1px solid #b6b6ba !important;
  }
  & > button:last-child {
    margin-left: 10px !important;
    color: #ffffff !important;
    background: #2a7fff !important;
    opacity: 0.5;
  }
}

.result {
  width: 175.19px !important;
  height: 127px;
  margin: 192.87px 0 0 229.12px !important;
  & > div {
    width: 100%;
    text-align: center;
    padding: 0;
    color: #777f97;
    display: flex;
    flex-wrap: wrap;
    & > div:first-child {
      font-size: 16px;
      width: 35.22px;
      height: 43.07px;
      margin-bottom: 27.19px;
    }
    & > div:nth-child(2) {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      margin-top: 13.03px;
      margin-bottom: 4.04px;
      margin-left: 13.42px;
      // width: 126px;
      height: 26px;
      line-height: 26px;
    }
    & > div:last-child {
      padding: 0 !important;
      margin-top: 0 !important;
      & > button {
        width: 112px;
        height: 36px;
      }
    }
  }
}

.results {
  display: inline-block;
  min-width: 240px;
  & > div {
    text-align: center;
    font-size: 16px;
    color: #777f97;
  }
  & > div:first-child {
    margin-bottom: 14.41px;
  }
  & > div:last-child {
    margin-top: 30.59px;
    & > a {
      width: 240px;
      height: 44px;
      background: #2a7fff;
      border-radius: 6px;
      font-size: 14px;
      color: #ffffff;
      & > span {
        line-height: 44px;
      }
    }
  }
}

.tabBar1Style {
  & :global(.ant-tabs-ink-bar) {
    color: #2a7fff;
    box-shadow: 0px 2px 8px #6ca7ff;
    border-radius: 21px;
    width: 46px !important;
    height: 5px;
    margin: 0 41px;
  }
}
.tabBar2Style {
  & :global(.ant-tabs-ink-bar) {
    width: 62px !important;
  }
}
