.draggable-list {
  .ant-menu-item.draggable-menu-item {
    font-size: 13px;
    height: 34px;
    line-height: 34px;
    margin-top: 0;
    margin-bottom: 0px!important;
    &.ant-menu-item-active {
      color: #777f97;
      background: rgba(42, 127, 255, 0.15);
    }
    &.ant-menu-item-selected {
      color: #2A7FFF;
      background: rgba(42, 127, 255, 0.15);
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        transform: scaleY(1);
        opacity: 1;
        border-left: 3px solid #2B81FF;
      }
      &::after {
        border: none !important;
      }
    }
  }
}
