.container {
  position: relative;
  height: calc(100vh - 50px);
  width: 1680px;
  background-color: #f0f2f5;

  .header {
    padding: 20px 40px;
  }
}

:global(#root) {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.appCard {
  width: 180px;
  height: 144px;
  display: inline-block;
  cursor: pointer;
  > div:hover {
    box-shadow: 0px 4px 8px rgba(176, 176, 176, 0.25);
  }

  &:global(.ant-card) {
    margin: 10px 30px 30px 0px;
    border-radius: 5px;
    border: none;
  }

  :global(.ant-card-body) {
    padding: 10px;
    height: 100%;
  }

  .appCardMeta {
    display: flex;
    flex-direction: column;
    text-align: center;

    :global(.ant-card-meta-avatar) {
      padding: 20px 0 0 0;
    }

    :global(.ant-card-meta-detail > div:not(:last-child)) {
      margin-bottom: 5px;
    }

    :global(.ant-card-meta-title) {
      margin-top: 12px;
      color: #363636;
      font-size: 13px;
    }

    :global(.ant-card-meta-description) {
      text-overflow: ellipsis;
      text-overflow: -o-ellipsis-lastline;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 12px;
      margin: 0 8px;
    }
  }
}

.appSider {
  border-right: 1px solid #d6d8de;

  :global(.ant-layout-sider-children) {
    height: calc(100vh - 50px);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }

  .addFolder {
    cursor: pointer;
    margin-top: 20px;
    padding: 10px 0px;
    padding-left: 53px;
    padding-right: 53px;
    width: 200px;
    height: 40px;
    border: 1px solid #777f97;
    box-sizing: border-box;
    border-radius: 5px;

    .folderContent {
      display: flex;
      width: 94px;

      .folderIcon {
        margin-right: 10px;
      }

      .folderDesc {
        width: 70px;
        display: inline-block;
        font-family: Noto Sans SC;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;

        color: #777f97;
      }
    }
  }
}

.operateTitle {
  height: 98px;
  width: 100%;
  padding: 36px 0;

  .backBox {
    width: 197px;
    padding: 0 32px;
    cursor: pointer;
    display: flex;
    align-items: center;

    .backIcon {
      float: left;
      width: 15px;
      margin-right: 10px;
    }

    .backDesc {
      float: right;
      width: 108px;
      font-family: "Noto Sans SC";
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;

      color: #333333;
    }
  }
}

.operateGroup {
  padding: 0 10px;

  .btnGroup {
    position: absolute;
    width: 541px;
    height: 240px;
    // top: 393px;
    // left: 570px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .newDashBoard {
      background-color: #fff;
      border-radius: 10px;
      width: 240px;
      height: 240px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;

      .dashBoardContent {
        cursor: pointer;

        // .dashboardSvg {}

        .dashboardDesc {
          margin-top: 21px;
          text-align: center;
          font-family: "Noto Sans SC";
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 23px;

          color: #333333;
        }
      }
    }

    .newForm {
      background-color: #fff;
      border-radius: 10px;
      width: 240px;
      height: 240px;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;

      .formContent {
        cursor: pointer;

        // .formSvg {}

        .formDesc {
          margin-top: 21px;
          text-align: center;
          font-family: "Noto Sans SC";
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 23px;

          color: #333333;
        }
      }
    }
  }
}

.searchBox {
  :global(.ant-input) {
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #b6b6ba;
    padding: 10px 16px;
  }
  .addFolder {
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
  }
}

.formArea {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
  // border-bottom: 1px solid #d6d8de;

  :global(.ant-menu-inline) {
    border: none;
    padding-top: 20px;
  }

  .empty {
    flex: 1;
  }
}

.serviceSider {
  width: 50px;
}

.menuBorderNone {
  border: none !important;
  margin-top: 35px !important;
  li {
    height: 46px !important;
    line-height: 46px !important;
    width: 59px;
    &:hover{
      background-color: #E7F0FF;
    }
    svg {
      margin-top: 10.5px;
      margin-left: 16px;
    }
  }
  :global(.ant-menu-item) {
    padding: 0 !important;
  }
  :global(.ant-menu-item-selected) {
    &::before {
      content: "";
      border-left: 4px solid #1890ff;
      position: absolute;
      top: 0;
      bottom: 0;
    }
    background-color:#DDEAFF !important;
    svg {
      g,
      polyline,
      path {
        fill: #1890ff;
      }
    }
  }
}

.avatarIcon {
  font-size: 20px;
  color: #777 !important;
  padding-top: 3px;
}

.innerMain {
  margin: 0 64px;
  display: block;

  button {
    width: 180px;
    height: 144px;
    display: inline-block;
    background-color: #fff;
    color: #333;
    margin: 12px 30px 30px 0px;
    vertical-align: top;
  }

  > svg,
  > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
  }
  > p {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -40%);
    color: #777f97;
    span {
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }
}
