.container {
  height: calc(100vh - 50px);
  .header {
    padding: 20px 40px;
  }
}
.appCard {
  width: 180px;
  height: 144px;
  display: inline-block;
  cursor: pointer;
  &:global(.ant-card) {
    margin: 10px 40px 40px 0px;
    border-radius: 5px;
    border: none;
  }
  :global(.ant-card-body) {
    padding: 10px;
    height: 100%;
  }
  .appCardMeta {
    display: flex;
    flex-direction: column;
    text-align: center;
    :global(.ant-card-meta-avatar) {
      padding: 20px 0 0 0;
    }
    :global(.ant-card-meta-detail > div:not(:last-child)) {
      margin-bottom: 5px;
    }
    :global(.ant-card-meta-title) {
      margin-top: 12px;
      color: #363636;
      font-size: 13px;
    }
    :global(.ant-card-meta-description) {
      text-overflow: ellipsis;
      text-overflow: -o-ellipsis-lastline;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 12px;
      margin: 0 8px;
    }
  }
}
.appSider {
  :global(.ant-layout-sider-children) {
    height: calc(100vh - 50px);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }
}
.newForm {
  padding: 0 10px;
}
.searchBox {
  padding: 10px;
  .addFolder {
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
  }
}
.formArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  :global(.ant-menu-inline) {
    border: none;
  }
  .empty {
    flex: 1;
  }
}
.serviceSider {
  width: 50px;
}
.menuBorderNone {
  border: none !important;
  margin-top: 35px !important;
  li {
    height: 46px !important;
    line-height: 46px !important;
    border-left: 4px solid #fff;
    svg {
      margin-left: 6px;
      margin-top: 8px;
    }
  }
  :global(.ant-menu-item-selected) {
    border-left: 4px solid #1890ff;
    svg  {
      g, polyline, path {
        fill: #1890ff;
      }
    }
  }
}

.avatarIcon {
  font-size: 20px;
  color: #777 !important;
  padding-top: 3px;
}

.innerMain {
  margin: 0 64px;
  display: block;
  button {
    width: 180px;
    height: 144px;
    display: inline-block;
    background-color: #fff;
    color: #333;
    margin: 10px 40px 40px 0px;
    vertical-align: top;
  }
  > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
  }
  > p {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -40%);
    color: #777f97;
    span {
      display: inline-block;
      text-align: center;
      width: 100%;
    }
  }
}
