.container {
  height: calc(100vh - 64px);
  .header {
    padding: 20px 40px;
  }
}
.appCard {
  width: 200px;
  height: 120px;
  display: inline-block;
  cursor: pointer;

  &:global(.ant-card) {
    margin-top: 20px;
    margin-left: 40px;
  }
  .appCardMeta {
    :global(.ant-card-meta-description) {
      text-overflow: ellipsis;
      text-overflow: -o-ellipsis-lastline;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    :global(.ant-card-meta-title) {
      font-weight: 400;
      color: #363636;
    }
  }
}
.appSider {
  :global(.ant-layout-sider-children) {
    height: calc(100vh - 64px);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }
}
.newForm {
  padding: 0 10px;
}
.searchBox {
  padding: 10px;
  .addFolder {
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
  }
}
.formArea {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  :global(.ant-menu-inline) {
    border: none;
  }
  .empty {
    flex: 1;
  }
}
.serviceSider {
  width: 50px;
}
.menuBorderNone {
  border: none !important;
}

.avatarIcon {
  font-size: 20px;
  color: #777 !important;
  padding-top: 3px;
}
