.sider {
  background: #fff !important;
  padding-top: 14px !important;
  border-right: 1px solid #d6d8de;
  ul {
    border-right: 0;
  }
  li:hover {
    background-color: #e7f0ff;
  }
}

.container {
  // height: calc(100vh - 50px);
  .header {
    padding: 37px 50px 10px 50px;
  }
  :global(.ant-menu-vertical) {
    border-right: 0;
  }
}

.breadcrumbItem {
  font-size: 16px;
  color: #666666;
  display: inline-block;
  padding: 4px 0 41px 0;

  &.active {
    cursor: pointer;

    &:hover {
      color: #333333;
    }
  }

  &.disabled {
    color: #333333;
  }
}

// .menu:hover {
//   background-color: #e7f0ff !important;
// }

.commonContentWarpper {
  position: relative;
  transition: all .2s;
}

.homeContentTitle {
  .main {
    display: flex;
    .title {
      flex: 1;
    }
    .btns {
      flex: 1;
      text-align: right;
    }
  }
}

.homeContentMain {
  margin: 24px;
}