.sider {
  background: #fff !important;
  padding-top: 14px !important;
  border-right: 1px solid #d6d8de;
  ul {
    border-right: 0;
  }
  li:hover {
    background-color: #e7f0ff;
  }
}

.container {
  height: calc(100vh - 50px);
  padding: 10px;
  .header {
    padding: 37px 64px 10px 64px;
  }
  :global(.ant-menu-vertical) {
    border-right: 0;
  }
}
.title {
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
}

.menu {
  &:global(.ant-menu-item-selected) {
    ::before {
      border-left: 4px solid #1890ff;
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
    }
    svg {
      g,
      polyline,
      path {
        fill: #1890ff;
      }
    }
  }
  span {
    color: #333;
  }
  svg {
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 10px;
  }
}
