.sider {
  background: #fff !important;
  padding-top: 14px !important;
  border-right: 1px solid #d6d8de;
  ul {
    border-right: 0;
  }
  li:hover {
    background-color: #e7f0ff;
  }
}

.container {
  height: calc(100vh - 50px);
  padding: 10px;
  .header {
    padding: 37px 50px 10px 50px;
  }
  :global(.ant-menu-vertical) {
    border-right: 0;
  }
}
.title {
  padding: 5px;
  font-size: 16px;
  font-weight: 700;
}

.breadcrumbItem {
  font-size: 16px;
  color: #666666;
  display: inline-block;
  padding: 4px 0 41px 0;

  &.active {
    cursor: pointer;

    &:hover {
      color: #333333;
    }
  }

  &.disabled {
    color: #333333;
  }
}

.menu {
  &:global(.ant-menu-item-selected) {
    ::before {
      border-left: 4px solid #1890ff;
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
    }
    svg {
      g,
      polyline,
      path {
        fill: #1890ff;
      }
    }
  }
  span {
    color: #333;
  }
  svg {
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 10px;
  }
}

.menu:hover {
  background-color: #e7f0ff !important;
}

.noCompany {
  width: 100%;
  padding-top: 273px;
  text-align: center;
  & > div {
    margin-top: 20.2px;
    & button {
      width: 130px;
      height: 40px;
      border: 1px solid #2a7fff;
      box-sizing: border-box;
      border-radius: 3px;
      font-size: 14px;
      line-height: 20px;
      color: #2a7fff;
      &:hover {
        background: #2a7fff !important;
        color: #ffffff !important;
      }
    }
  }
}

.noCompanyModalFormWarp {
  background: rgba(191, 197, 203, 0.5);
  opacity: 0.9;
  :global(.ant-modal-body) {
    & input {
      order: 1px solid #dcdee3;
      box-sizing: border-box;
      border-radius: 3px;
      ::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        font-size: 14px;
        line-height: 20px;
        color: #b6b6ba;
      }
      :-moz-placeholder {
        /* Mozilla Firefox 4 ~ 18 */
        font-size: 14px;
        line-height: 20px;
        color: #b6b6ba;
      }
      ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        font-size: 14px;
        line-height: 20px;
        color: #b6b6ba;
      }
      :-ms-input-placeholder {
        /* Internet Explorer 10 ~ 11 */
        font-size: 14px;
        line-height: 20px;
        color: #b6b6ba;
      }
      ::-ms-input-placeholder {
        /* Microsoft Edge */
        font-size: 14px;
        line-height: 20px;
        color: #b6b6ba;
      }

      ::placeholder {
        /* 大部分现代浏览器 */
        font-size: 14px;
        line-height: 20px;
        color: #b6b6ba;
      }
    }
  }
}
