
#root {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0;
  background: #f3f4f5;
  overflow-x: hidden;
  min-height: 100vh;
}

.mask::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 0 solid transparent;
  background-color: #e4edff;
}

::-webkit-scrollbar-track {
  /* box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset; */
  display: none;
}

::-webkit-scrollbar-thumb {
  /* min-height: 20px; */
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.3) inset;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.ant-modal-footer  button {
  width: 70px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
}
.ant-modal-footer  button:nth-child(1) {
  color: #777f97;
  border: 1px solid #d6d8de;
  box-shadow: 0px 4px 30px rgba(163, 170, 177, 0.25);
}
.ant-modal-footer  button:nth-child(1):hover {
  background: #f3f3f3;
  border: 1px solid #b6b6ba;
  border-radius: 3px;
}
.ant-modal-footer  button:nth-child(2) {
  background: #2a7fff;
  color: #fff;
  border: 1px solid #2978ff;
}
.ant-modal-footer  button:nth-child(2):hover {
  background: #579aff;
  border-radius: 3px;
}
/* .ant-modal-body .ant-modal-confirm-btns > button {
  width: 70px;
  height: 32px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
}
.ant-modal-body .ant-modal-confirm-btns > button:nth-child(1) {
  color: #777f97;
  border: 1px solid #d6d8de;
  box-shadow: 0px 4px 30px rgba(163, 170, 177, 0.25);
}
.ant-modal-body .ant-modal-confirm-btns > button:nth-child(1):hover {
  background: #f3f3f3;
  border: 1px solid #b6b6ba;
  border-radius: 3px;
}
.ant-modal-body .ant-modal-confirm-btns > button:nth-child(2) {
  background: #2a7fff;
  color: #fff;
  border: 1px solid #2978ff;
}
.ant-modal-body .ant-modal-confirm-btns > button:nth-child(2):hover {
  background: #579aff;
  border-radius: 3px;
} */
