.appSider {
  :global(.ant-layout-sider-children) {
    height: calc(100vh - 64px);
    padding: 10px 0;
    display: flex;
    flex-direction: column;
  }
  background: #fff;
}

.container {
  height: calc(100vh - 64px);

  .header {
    padding: 20px 40px;
  }
}
