.top {
  padding: 0 21.5px;
  border-bottom: 1px solid #ddd;
  line-height: 64px;
  height: 64px;
  font-size: 18px;
  overflow: hidden;
  a {
    color: #000;
    display: inline-block;
    height: 100%;
  }
  .logoBox {
    width: 197px;
    overflow: hidden;
  }
  .collapsed {
    width: 38px;
  }
  .logo {
    width: 197px;
    height: 39px;
    line-height: 63px;
    box-sizing: border-box;
    display: inline-block;
    // margin-right: 10px;
    position: relative;
    top: 12.5px;
    background: url(../../assets/icons/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.sider {
  box-shadow: 0px 4px 8px rgba(176, 176, 176, 0.25);

  
  .menu {
    border-right: none !important;
    .item {
      &:hover {
        background-color: #e7f0ff !important;
      }
      &:global(.ant-menu-item-selected) {
        background-color: rgb(221, 234, 255) !important;
        &::before {
          border-left: 4px solid #1890ff;
          content: "";
          position: absolute;
          left: 0;
          height: 100%;
        }
        &::after {
          height: 0;
        }
        svg {
          g,
          polyline,
          path {
            fill: #1890ff;
          }
        }
      }
    }
  }
}
