// 数据联动模态框样式
.dataLinkage {
  color: #333;
  .ant-modal-body {
    padding: 8px 20px 0;
  }
  .sencond-title {
    color: #000;
    line-height: 30px;
  }
  .input-item {
    flex-basis: 30%;
  }

  .ant-modal-content {
    .ant-modal-header {
      border-bottom: 1px solid #e8e8e8;
    }
  }
  .data-link-form {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .row {
    width: 99%;
    margin: 0 auto;
    display: flex;
    .input-item {
      flex: 30%;
      overflow: hidden;
      &.has-error {
        color: #f5222d;
      }
    }
    p {
      padding: 5px;
      flex-basis: 15%;
      .formchild-link-delete {
        margin-left: 10px;
      }
    }
    .child-link-icon-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #3384fe;
      font-size: 20px;
      i:first-child {
        margin-right: 10px;
      }
    }
  }
  .add-child-item {
    display: inline-block;
    margin-top: -15px;
    color: #2978ff;
    cursor: pointer;
    i {
      margin-right: 5px;
    }
  }
  .child-link-list {
    height: 180px;
    overflow-y: auto;
  }
}
.form-child-menu {
  li p {
    margin-bottom: 0;
  }
}
