.form-submit-data-button {
  height: 60px;
  // width: 8%;
  position: absolute !important;
  right: 10px !important;
  margin-top: 15px !important;
  z-index: 1 !important;
}
.form-submit-data-table {
  padding: 0 30px;
  box-sizing: border-box;
  position: relative;
  .filter-container {
    width: 364px;
    height: 385px;
    background-color: #ffffff;
    position: absolute;
    padding: 20px;
    z-index: 10;
    right: 22px;
    top: -22px;
    box-shadow: 0px 2px 8px rgba(106, 116, 140, 0.25);
    border-radius: 3px;
    .line {
      width: 364px;
      height: 1px;
      margin-left: -20px;
      background-color: #d6d8de;
    }
    .filter-item-container {
      width: 364px;
      margin-left: -20px;
      height: 217px;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 10px 0;
      .filter-item {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 324px;
        .ant-select-selection {
          width: 100%;
          height: 36px;
        }
        // .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled){
        //     background-color: #E7F0FF
        // }
        .logicSymbol {
          .ant-select-selection {
            width: 108px;
            height: 36px;
          }
        }
        .descBox {
          display: inline-block;
          height: 36px;
          line-height: 36px;
          text-align: center;
        }
        .valueBox {
          height: 36px;
          width: 100%;
        }
        .filter-action {
          .reduceBtn svg {
            color: #e71010;
          }
        }
      }
    }
    .option-style {
      background-color: yellowgreen;
    }

    .filter-action {
      display: flex;
      .anticon {
        svg {
          color: #3384fe;
          font-size: 20px;
          line-height: 32px;
          height: 32px;
        }
      }
      
    }
    .filter-condition {
      .filter-condition-option {
        width: 100%;
        height: 36px;
        border-radius: 3px;
        margin-bottom: 20px;
      }
      .clear-btn {
        line-height: 30px;
        color: #777F97;
        padding-left: 11px;
        cursor: pointer;
      }
      .ant-select-selection-selected-value {
        font-size: 14px;
        color: #565c6e;
        font-weight: 500;
      }
      .ant-select-selection__placeholder {
        width: 96px;
        font-size: 14px;
        color: #565c6e;
        font-weight: 500;
      }
      display: flex;
      p {
        margin-right: 29px;
        line-height: 32px;
        font-weight: 500;
        font-size: 16px;
      }
    }
    .filter-submit-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 76px;
      button {
        width: 140px;
        height: 36px;
      }
      button:nth-of-type(2) {
        margin-left: 20px;
        color: #b6b6ba;
      }
    }
  }

  .limit-data-number-container {
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    padding: 13px 0 13px 36px;
    .ant-input-number {
      height: 28px;
      width: 60px;
      margin-left: 5px;
    }
    .ant-btn {
      margin-left: 10px;
      font-size: 13px;
    }
  }
  .ant-table-fixed .ant-table-row-hover{
    background: #E7F0FF !important;
  }
  .ant-table-fixed .ant-table-row-hover>td{
    background: #E7F0FF !important;
  }
  .ant-table-body {
    overflow-x: auto !important;
    tr:hover:not(.ant-table-expanded-row) > td {
      background-color: #E7F0FF !important;
    }
    .ant-table-row-hover{
      background: #E7F0FF !important;
    }
    .ant-table-row-hover>td{
      background: #E7F0FF !important;
    }
    
    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: #D4D5D7;
        box-shadow: none;
      }
    }
    &::-webkit-scrollbar {
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
      box-shadow: none;
    }
  }

  .ant-table-wrapper {
    background: #fff;
    table {
      border-collapse: collapse;
      table-layout: auto;
    }
  }
  .ant-table-thead {
    font-size: 14px;
    tr {
      th {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        line-height: 21px;
        background: rgba(255, 255, 255, 1);
        color: #a4adc8;
        border: 0.3px solid #DCDEE3;
        border-color: #DCDEE3 !important;
        .ant-table-column-sorter-inner-full {
          display: block;
          margin-left: 2px;
        }
        &.ant-table-column-sort {
          color: #2978ff;
          font-size: 14px;
          font-weight: 500;
        }
        &.ant-table-row-cell-break-word,
        &.ant-table-column-has-actions {
          font-size: 15px;
          color: #333;
          font-weight: bold;
          border-left: none;
          border-right: none;
          background-clip: padding-box;
        }
        // &:last-child {
          // border-left: 1px solid;
        // }
      }
    }
  }
  .ant-table-fixed-right{
    // box-shadow: 0px 0px 0px 6px #d2d4db; 水平阴影 垂直阴影 模糊距离 阴影尺寸
    box-shadow: -2px 0 6px -2px rgba(0, 0, 0, 0.15);
  }
  .ant-table-tbody {
    font-size: 14px;
    .ant-table-row {
      height: 56px;
      td {
        padding: 0 10px;
        text-align: center;
        line-height: 56px;
        height: 56px;
        color: #333;
        font-size: 14px;
        font-weight: 400;
        border-color: #DCDEE3 !important;
        // &:last-child {
          // border-left: 1px solid;  // table里操作列的线
        // }
        .formChildDiv {
          height: 56px;
          text-align: center;
          display: flex;
          justify-content: center;
          margin: 0 -10px;
          border: 1px solid #DCDEE3;
          border-top: none;
          .formChild-item {
            flex: 0 1 auto;
            width: 100%;
            height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0 5px;
            &.image {
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        .formChildLook {
          height: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 -10px;
          border: 1px solid #DCDEE3;
          border-top: none;
          border-bottom: none;
        }
        p {
          margin-bottom: 0px;
          padding: 0px;
        }
      }
    }
  }

  .ant-btn.ant-btn-link {
    color: #2a7fff;
    height: 24px;
    padding: 0 10px;
  }

  // // 表格详情
  .ant-table-pagination.ant-pagination {
    float: none;
    text-align: center;
    margin: 20px;
    .ant-pagination-prev,
    .ant-pagination-next {
      .ant-pagination-item-link {
        line-height: 10px;
        padding: 9px;
        vertical-align: middle;
        display: table-cell;
      }
    }
    .ant-pagination-item-active {
      background: $btnBgBlue;
      border-color: $btnBgBlue;
      a {
        color: $white;
      }
    }
  }
  .ant-pagination-options-quick-jumper {
    input {
      border-color: $inputBorderColor !important;
    }
  }
}
.createForm{
  .ant-modal-content {
    width: auto;
    height: auto;
    .ant-modal-body {
        padding:0;
      .showDataDetail {
        width: 520px;
        height: 600px;
        padding: 19px;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 5px;
        }
        .dataDteailText {
          min-height: 60px;
          margin-top: 10px;
          font-size: 14px;
          font-family: "PingFangSC-Regular", "PingFang SC";
          border-bottom: 1px solid rgba(237, 239, 243, 1);
          p {
            margin-bottom: 7px;
            word-break: break-all;
          }
          .dataTitle {
            font-weight: 500;
            color: rgba(170, 178, 203, 1);
            line-height: 20px;
          }
          .dataContent {
            font-weight: 400;
            color: rgba(86, 92, 110, 1);
            line-height: 20px;
          }
        }
        .dataDteailFile {
          font-size: 14px;
          min-height: 60px;
          font-family: "PingFangSC-Regular", "PingFang SC";
          border-bottom: 1px solid rgba(237, 239, 243, 1);
          margin-top: 10px;
          p {
            margin-bottom: 7px;
            word-break: break-all;
          }
          .dataTitle {
            font-weight: 500;
            color: rgba(170, 178, 203, 1);
            line-height: 20px;
          }
          .imageList {
            width: 100%;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;
            .imageContainer {
              width: 100px;
              height: 100px;
              margin-top: 5px;
              margin-right: 8px;
              position: relative;
              img {
                z-index: 1;
                width: 100%;
                height: 100%;
              }
              .imageHover {
                z-index: 111;
                display: none;
                position: absolute;
                background: rgba(51, 51, 51, 1);
                opacity: 0.6;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;
                p {
                  &:nth-child(1) {
                    margin-top: 5px;
                  }
                  margin-bottom: 0px;
                  margin-left: 10px;
                  font-size: 12px;
                  line-height: 17px;
                  font-family: "PingFangSC-Medium", "PingFang SC";
                  font-weight: 500;
                  color: rgba(255, 255, 255, 1);
                }
              }
            }
          }
          .fileList {
            margin-bottom: 10px;
            .fileContainer {
              line-height: 20px;
            }
          }
        }
        .dataDteailFormChild {
          font-size: 14px;
          font-family: "PingFangSC-Regular", "PingFang SC";
          border-bottom: 1px solid rgba(237, 239, 243, 1);
          margin-top: 10px;
          max-height: 177px;
          p {
            margin-bottom: 7px;
            word-break: break-all;
          }
          .dataTitle {
            font-weight: 500;
            color: rgba(170, 178, 203, 1);
            line-height: 20px;
          }
        }
      }
      .dataDteailFormChild {
        font-size: 14px;
        font-family: "PingFangSC-Regular", "PingFang SC";
        border-bottom: 1px solid rgba(237, 239, 243, 1);
        margin-top: 10px;
        max-height: 177px;
        p {
          margin-bottom: 7px;
          word-break: break-all;
        }
        .dataTitle {
          font-weight: 500;
          color: rgba(170, 178, 203, 1);
          line-height: 20px;
        }
        .formChildTable {
          .ant-table-body {
            overflow-x: auto !important;
            &::-webkit-scrollbar {
              height: 6px;
            }
            .ant-table-thead {
              span {
                color: rgba(170, 178, 203, 1);
              }
              th {
                padding: 6px 8px;
              }
            }
            table {
              font-size: 14px;
            }
            .ant-table-wrapper {
              width: 100%;
              height: auto;
              max-height: 150px;
            }
            .formChildData {
              min-height: 25px;
              color: rgba(86, 92, 110, 1);
              width: auto;
              display: flex;
              align-items: center;
              flex-direction: row;
              flex-wrap: wrap;
              img {
                width: 45px;
                height: 25px;
                margin-right: 3px;
                margin-top: 3px;
              }
            }
          }
        }
      }
    }
  }
  .formInfoModalContainer {
    width: 520px;
    height: 420px;
    .formContainer {
      width: 460px;
      margin: auto;
      .ant-form-item {
        margin-bottom: 25px;
        &:nth-child(-n + 2) {
          height: 70px;
        }
        &:nth-child(1) {
          margin-top: 27px;
        }
      }
      .ant-form-item-label {
        line-height: 20px;
        label {
          font-size: 14px;
          font-family: "PingFangSC-Regular, PingFang SC";
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          margin-bottom: 9px;
        }
      }
      .ant-input {
        width: 460px;
        height: 36px;
        background: rgba(255, 255, 255, 1);
        border-radius: 4px;
        border: 1px solid rgba(214, 216, 222, 1);
      }
      .textArea{
        resize: none;
      }
      .ant-input-affix-wrapper .ant-input {
        min-height: none;
      }
      .buttonGroup {
        width: 100%;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        .ant-btn {
          width: 98px;
          height: 36px;
          // box-shadow: 0px 6px 21px 0px rgba(158, 158, 166, 0.32);
          font-size: 14px;
          font-family: "PingFangSC-Regular, PingFang SC";
          font-weight: 400;
          border-radius: 6px;
          border:1px solid #D6D8DE;
          &:nth-child(1) {
            background: rgba(255, 255, 255, 1);
            margin-right: 16px;
          }
          &:nth-child(1):hover{
            border: 1px solid #B6B6BA !important;
            color: #777F97;
            background: #F3F3F3;
          }
          &:nth-child(2) {
            background: #2978ff;
            color: rgba(255, 255, 255, 1);
          }
          &:nth-child(2):hover{
            background: #579AFF;
          }
        }
      }
      .ant-form-explain {
        margin-top: 3px;
      }
    }
  }
}

// .ant-select-dropdown-menu-item-selected {
//   font-weight: 400;
// }
// .ant-select-dropdown-menu-item {
//   font-size: 12px;
// }

.edit-history-table {
  color: #333333;
  p {
    margin: 12px 0;
    line-height: 1;
  }
  .file-list {
    margin-left: 0;
  }
  .file-status_0 {
    color: #FFA728;
  }
  .file-status_1 {
    color: #00C59F;
  }
  .file-status_-1 {
    color: #F03F3F;
  }
  .editor {
    padding-left: 30px!important;
  }
  .ant-spin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .ant-table {
      width: 100%;
      .before-value {
        color: #b1b2b6;
      }
      .after-value {
        font-weight: bold;
      }
    }
  }
}
