.form-change-modal {
  width: 570px;
  .ant-modal-content {
    .ant-modal-header {
      height: 48px;
      border-bottom: 1px solid #edeff3;
      .ant-modal-title {
        color: #314584;
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
      }
    }
    .ant-modal-close-x {
      height: 48px;
    }
  }
  .ant-modal-body {
    .component-template-modal-container {
      padding: 0 20px;
      .second-title {
        margin-top: 17px;
      }
      .form-select {
        width: 100%;
        margin-bottom: 10px;
      }
      .select-option {
        height: 30px;
        padding: 0;
        input {
          border-radius: 4px 4px 0 0;
        }
        .arrow {
          font-size: 12px;
          color: rgba(0, 0, 0, 0.25);
          transition: 0.3s;
          &.open {
            transform: rotateZ(180deg);
          }
        }
      }
      .select-option2 {
        // height: 30px;
        padding: 0;
        border: 1px solid #e8e8e8;
        border-radius: 4px 4px 0 0;
        text-overflow: ellipsis;
        display: flex;
        .left {
          display: flex;
          flex-wrap: wrap;
          flex: 1;
          list-style: none;
          margin: 0;
          .selection-bubble {
            position: relative;
            margin: 3px 4px;
            padding: 1px 17px 1px 4px !important;
            overflow: hidden;
            color: rgba(0, 0, 0, 0.65);
            background-color: #fafafa;
            border: 1px solid #e8e8e8;
            border-radius: 2px;
            padding: 3px 5px;
            cursor: default;
            .bubble-close {
              cursor: pointer;
              position: absolute;
              top: -4px;
              right: 4px;
              color: rgba(0, 0, 0, 0.45);
              font-weight: bold;
              transition: all 0.3s;
              &:hover {
                color: rgba(0, 0, 0, 0.75);
              }
            }
          }
        }
        .right {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-basis: 36px;
        }
        input {
          border-radius: 4px 4px 0 0;
        }
      }
      .arrow {
        font-size: 12px;
        color: rgba(0, 0, 0, 0.25);
        transition: 0.3s;
        &.open {
          transform: rotateZ(180deg);
        }
      }
      .option-list {
        transition: height 0.2s;
        box-sizing: border-box;
        max-height: 0;
        overflow: hidden;
        list-style: none;
        border: none;
        border-radius: 0 0 4px 4px;
        &.open {
          border: 1px solid #d9d9d9;
          border-top: none;
          padding-top: 5px;
          max-height: 240px;
          overflow-y: auto;
        }
        li {
          padding: 6px 11px;
          &:hover,
          &.active {
            background-color: #e6f7ff;
          }
          display: flex;
          justify-content: space-between;
        }
      }

      // 嵌套表单
      .more {
        .option-checkbox {
          padding: 6px 11px;
        }
        li.select-option-item {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
