.formDetailBox {
  padding: 0 32px;
}
.FormDataDetailHeader{
  width: 100%;
  padding-top: 40px;
  padding-bottom: 30px;
  .title {
    font-family: "Noto Sans SC";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #333333;
    }
  .btn{
    width: 104px;
    margin-left: 20px;
    height: 36px;
    text-shadow: none;
    box-shadow: none;
  }
  .redBtn {
    background: #fff;
    border-color: #fff;
    color: #E71010;
  }
  .ant-btn-danger:hover, .ant-btn-danger:focus {
    color: #E71010;
    background-color: #E6E6E6;
    border-color: #E6E6E6;
  }
  .shortletter {
    letter-spacing: -2px; 
  }
}
.formDataDetailContainer {
  width: 100%;
  margin-bottom: 60px;
  height: auto;
  margin: auto;
  background: #ffffff;
  font-family: "Noto Sans SC";
  font-style: normal;
  font-weight: normal;
  .ant-table-middle > .ant-table-content >.ant-table-body > table {
    .approveCol{
      padding-left: 20px;
    }
  }
  .ant-table-wrapper{
    tr {
      &:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
        background-color: #E7F0FF;
      }
    }
    .ant-table-thead > tr > th {
      padding: 14px;
      background: #fff;
    }

    .ant-table-tbody > tr > td {
      padding: 9px 16px;
      border-bottom-color: #DCDEE3;
    }
    .ant-table-column-title{
      font-family: "Noto Sans SC";
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
      color: #333;
    }
  }
  .dataDteailText {
    min-height: 68px;
    padding: 16px 20px;
    border-bottom: 1px solid #DCDEE3;
    p {
      word-break: break-all;
    }
    .dataTitle {
      font-size: 16px;
      margin-bottom: 12px;
      color: #777f97;
    }
    .dataContent {
      font-size: 14px;
      margin-bottom: 0px;
      color: #333333;
    }
  }
  .dataDteailFile {
    font-size: 14px;
    min-height: 68px;
    border-bottom: 1px solid #DCDEE3;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 17px;
    margin-top: 16px;
    p {
      word-break: break-all;
    }
    .dataTitle {
      font-weight: 500;
      font-size: 16px;
      color: #777f97;
      margin-bottom: 12px;
    }
    .imageList {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      // margin-bottom: 10px;
      .imageContainer {
        width: 120px;
        height: 120px;
        margin-top: 5px;
        margin-right: 12px;
        position: relative;
        img {
          z-index: 1;
          width: 100%;
          height: 100%;
        }
        .imageHover {
          z-index: 111;
          display: none;
          position: absolute;
          background: rgba(51, 51, 51, 1);
          opacity: 0.6;
          width: 100%;
          height: 100%;
          top: 0px;
          left: 0px;
          p {
            &:nth-child(1) {
              margin-top: 5px;
            }
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 0px;
            margin-left: 10px;
            font-size: 12px;
            line-height: 17px;
            font-family: "PingFangSC-Medium", "PingFang SC";
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
    .fileList {
      .fileContainer {
        span {
          color: #333333;
        }
      }
    }
  }
  .dataDteailFormChild {
    font-size: 14px;
    font-family: "PingFangSC-Regular", "PingFang SC";
    border-bottom: 1px solid #DCDEE3;
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 17px;
    // max-height: 177px;
    p {
      // margin-bottom: 7px;
      word-break: break-all;
    }
    .dataTitle {
      font-weight: 500;
      color: rgba(170, 178, 203, 1);
      font-size: 16px;
      margin-bottom: 12px;
    }
    .formChildTable {
      .ant-table-body {
        overflow-x: auto !important;
        &::-webkit-scrollbar {
          height: 6px;
        }
        td {
          padding: 6px 8px;
        }
      }
      .ant-table-thead {
        background-color: #f0f2f5;
        span {
          // color: rgba(170, 178, 203, 1);
          color: #777f97;
        }
        th {
          padding: 6px 8px;
        }
      }
      table {
        font-size: 14px;
      }
      .ant-table-wrapper {
        width: 100%;
        height: auto;
      }
      .formChildData {
        min-height: 25px;
        color: rgba(86, 92, 110, 1);
        width: auto;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        img {
          width: 80px;
          height: 45px;
          margin-right: 3px;
          margin-top: 7px;
        }
      }
    }
  }
  .approvalbox{
    padding-right:30px;
  }
  .toolbarBox {
    color: #2A7FFF;
    span:first-child {
      margin-right: 30px
    }
    margin-right: 30px;
  }
  .tabsBackground {
    background-color: #FFFFFF;
  }

}