$font-Family: "PingFangSC-Regular", "PingFang SC";

* {
  padding: 0px;
  margin: 0px;
}
.formBuilder-Header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 60px;
  width: 100%;
  .headerTitle {
    height: 60px;
    width: 100%;
    background: rgba(51, 51, 51, 1);
    min-width: 1000px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
    .headerTitleIcon {
      margin-left: 20px;
      width: 190px;
      height: 60px;
      display: flex;
      font-size: 16px;
      font-family: $font-Family;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .headerTitleUser {
      width: 132px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      .divider {
        color: rgba(255, 255, 255, 1);
      }
      .ant-btn-link {
        padding-left: 9px;
        padding-right: 9px;
        font-size: 14px;
        font-family: $font-Family;
        font-weight: 500;
        color: rgba(255, 255, 255, 1);
      }
    }
    .headerTitleBlank {
      flex-grow: 1;
    }
  }
}
