$btnBgBlue: #007aff;
$inputBorderColor: #5a8ced;
$tableHeaderFontColor: #a4adc8;
$tableBodyFontColor: #565c6e;
$borderBottomColor: #e8e8e8;
$tableRowHoverBg: #d4e5fd;
$white: #fff;

.home-wrapper {
  padding-top: 120px;
  box-sizing: border-box;
  height: 100vh;
  .home-table-wrapper {
    width: 86%;
    margin: 60px auto 0;
    .ant-table-wrapper {
      background-color: $white;
      .ant-table {
        text-align: left;
        line-height: 20px;
        table {
          .ant-table-thead > tr > th {
            padding: 18px 60px;
            font-size: 14px;
            color: $tableHeaderFontColor;
            background: $white;
            border-bottom: none;
          }
          .ant-table-tbody > tr > td {
            font-size: 14px;
            padding: 18px 60px;
            color: $tableBodyFontColor;
            border-bottom: none;
            div {
              a {
                display: inline-block;
                width: 34px;
                height: 20px;
                margin-right: 19px;
              }
            }
          }
          .ant-table-tbody > tr:last-child > td {
            border-bottom: 1px solid $borderBottomColor;
          }
          .ant-table-tbody > tr:hover td {
            background: $tableRowHoverBg;
          }
        }
      }
      .ant-table-pagination.ant-pagination {
        float: none;
        text-align: center;
        margin: 20px;
        .ant-pagination-prev,
        .ant-pagination-next {
          .ant-pagination-item-link {
            line-height: 28px;
            padding: 9px;
            vertical-align: middle;
            display: table-cell;
          }
        }
        .ant-pagination-item-active {
          background: $btnBgBlue;
          border-color: $btnBgBlue;
          a {
            color: $white;
          }
        }
      }
      .ant-pagination-options-quick-jumper {
        input {
          border-color: $inputBorderColor !important;
        }
      }
    }
    .light-row {
      background-color: #ffffff;
    }
    .dark-row {
      background-color: #f9fafb;
    }
  }
}

.light-row {
  background-color: #ffffff;
}
.dark-row {
  background-color: #f9fafb;
}

// .ant-modal-content {
//   background: rgba(255, 255, 255, 1);
//   box-shadow: 0px 6px 21px 0px rgba(158, 158, 166, 0.32);
//   border-radius: 6px;
//   .ant-modal-close-x {
//     display: table-cell;
//     vertical-align: middle;
//   }
//   .ant-modal-body {
//     padding: 0px;
//   }
//   .ant-modal-footer {
//     border: none;
//     margin-top: 10px;
//     .ant-btn {
//       width: 98px;
//       height: 36px;
//       border-radius: 4px;
//       border: 1px solid rgba(41, 120, 255, 1);
//       &:nth-child(2) {
//         background: rgba(41, 120, 255, 1);
//       }
//     }
//   }
  
// }
