.layout-wrapper {
  width: 100% !important;
  height: 100%;
  display: flex;
  min-height: auto !important;
  .layout-center {
    flex: 1;
    height: 100%;
    overflow: auto;
    .content {
      width: 870px;
      margin: 49px auto;
      .ant-upload {
        width: 100%;
        .ant-btn {
          width: 100%;
        }
      }
      .form-layout {
        width: 100%;
        min-height: 400px;
        // box-sizing: border-box;
        &.active {
          background: rgba(233, 243, 255, 1);
          outline: 1px dashed rgba(0, 122, 255, 1);
        }
        .ant-form-item {
          .imageUploadContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .ant-upload {
              display: inline-block;
              width: 150px;
              height: 116px;
              border-radius: 4px;
              margin-bottom: 7px;
              .ant-btn {
                width: 100%;
                height: 100%;
                border: 1px dashed rgba(206, 207, 213, 1);
                i {
                  color: rgba(0, 122, 255, 1);
                  font-size: 25px;
                  margin-bottom: 8px;
                }
                p {
                  font-family: "PingFangSC-Regular", "PingFang SC";

                  &:nth-child(2) {
                    font-size: 13px;
                    font-weight: 400;
                    color: rgba(119, 119, 119, 1);
                  }
                  &:nth-child(3) {
                    font-size: 12px;
                    font-weight: 400;
                    color: rgba(204, 204, 204, 1);
                  }
                }
              }
            }
            .imageItem {
              width: 150px;
              height: 116px;
              margin-right: 9px;
              margin-bottom: 7px;
              position: relative;
              &:nth-child(2) {
                margin-left: 9px;
              }
              img {
                width: 100%;
                height: 100%;
                z-index: -1;
              }
              .deleteBtn {
                z-index: 111;
                position: absolute;
                top: 7px;
                right: 6px;
                img {
                  width: 15px;
                  height: 15px;
                }
              }
            }
          }
          .ant-form-item-label {
            .label {
              padding: 0;
              color: #333333;
              font-family: "PingFangSC-Regular,PingFang SC";
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              background-color: transparent;
              word-break: break-all;
              white-space: normal;
            }
          }
        }
      }
      .react-grid-item {
        box-sizing: border-box;
        background: none;
        padding: 10px;
        .layout-shadow {
          position: absolute;
          left: 0px;
          top: 26px;
          width: 100%;
          height: 85%;
        }
        .react-resizable-handle {
          opacity: 0;
        }
        .btn-school {
          display: none;
          position: absolute;
          top: 2px;
          right: 2px;
          padding: 4px 7px;
          background: #ffffff;
          font-size: 16px;
          color: #e54c4c;
          z-index: 9;
          cursor: pointer;
        }
        &:hover {
          background: #eef6ff;
          .btn-school {
            display: block;
          }
          .react-resizable-handle {
            opacity: 1;
          }
        }
        .formChildContainer {
          width: 100%;
          max-height: 160px;
          // border: 0.5px solid rgba(214,216,222,1);
          // border: 0.5px solid rgba(214, 216, 222, 1);
          overflow: auto;
          &::-webkit-scrollbar-thumb {
            background: #cccccc;
          }
          &::-webkit-scrollbar {
            height: 5px;
          }
          &::-webkit-scrollbar-track {
            box-shadow: 0 0;
            background-color: rgba(255, 255, 255, 0);
          }
          &::-webkit-scrollbar-track-piece {
            background-color: rgba(255, 255, 255, 0);
          }
          .TitleContainer {
            position: relative;
            display: flex;
            flex-direction: row;
            .componentTitle {
              height: 30px;
              padding: 5px;
              line-height: 20px;
              font-weight: 400;
              flex: 0 0 140px;
              border-right: 1px solid rgba(214, 216, 222, 1);
              border-bottom: 1px solid rgba(214, 216, 222, 1);
              border-top: 1px solid rgba(214, 216, 222, 1);
              &:nth-child(1) {
                position: absolute;

                border-left: 1px solid rgba(214, 216, 222, 1);
                left: 0px;
                top: 0px;
                width: 40px;
              }
              &:nth-child(2) {
                margin-left: 40px;
              }
            }
            .componentTitle-required {
              height: 30px;
              padding: 5px;
              line-height: 20px;
              font-weight: 400;
              flex: 0 0 140px;
              border-right: 1px solid rgba(214, 216, 222, 1);
              border-bottom: 1px solid rgba(214, 216, 222, 1);
              border-top: 1px solid rgba(214, 216, 222, 1);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              &:nth-child(1) {
                position: absolute;
                border-left: 1px solid rgba(214, 216, 222, 1);
                left: 0px;
                top: 0px;
                width: 40px;
              }
              &:nth-child(2) {
                margin-left: 40px;
              }
              &::after {
                content: "*";
                margin: 0 0 0 2;
                color: red;
                top: 0.5px;
              }
            }
          }
          .contentContainer {
            position: relative;
            display: flex;
            flex-direction: row;
            .componentContent {
              height: 40px;
              width: 140px;
              padding: 3px;
              display: flex;
              flex: 0 0 140px;
              text-align: center;
              align-items: center;
              justify-content: center;
              border-right: 1px solid rgba(214, 216, 222, 1);
              border-bottom: 1px solid rgba(214, 216, 222, 1);
              &:nth-child(1) {
                border-left: 1px solid rgba(214, 216, 222, 1);
                position: absolute;
                text-align: center;
                left: 0px;
                top: 0px;
                width: 40px;
                img {
                  display: none;
                }
              }
              &:nth-child(2) {
                margin-left: 40px;
              }
              .inputContainer {
                width: 100%;
                height: 100%;
                display: flex;
                position: relative;
                align-items: center;
                .ant-input {
                  width: 96px;
                  height: 80%;
                  border: none;
                  padding: 0px;
                  box-shadow: none;
                  outline: none;
                  background-color: inherit;
                }
                input[type="number"] {
                  -moz-appearance: textfield;
                }
                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
                img {
                  position: absolute;
                  right: 4px;
                  height: 32px;
                  width: 32px;
                }
              }
              .ant-select {
                width: 95%;
                height: 80%;
                margin-bottom: 6px;
              }
              .checkboxComponent {
                width: 95%;
                height: 90%;
                display: flex;
                position: relative;
                align-items: center;
                .dataSpan {
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  display: block;
                  width: 95px;
                  text-align: left;
                }
                img {
                  position: absolute;
                  right: 3px;
                  height: 100%;
                  width: 32px;
                }
              }
              .dataComponent {
                width: 100%;
                height: 100%;
                line-height: 35px;
                text-align: left;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
              }
            }
            .has-error {
              .checkboxComponent {
                border: 1px solid red;
              }
            }
          }
        }
      }
    }
  }
  .layout-right {
    flex-basis: 370px;
    .tool-header {
      padding: 0 19px 0 19px;
      height: 36px;
      line-height: 36px;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      background: rgba(246, 249, 252, 1);
      .ant-select {
        width: 200px;
        display: inline-block;
      }
      .ant-input {
        width: 200px;
      }
    }
    .component-wrap {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      li {
        display: flex;
        align-items: center;
        flex-basis: 45.95%;
        margin: 0 2%;
        cursor: pointer;
        list-style: none;
        height: 34px;
        margin-bottom: 10px;
        border: 1px solid #d6d8de;
        border-radius: 4px;
        overflow: hidden;
        &::before {
          content: "";
          width: 4px;
          height: 34px;
          background: #d8d8d8;
        }
        // &:hover {
        //   border: 1px solid rgba(103, 176, 255, 1);
        //   &::before {
        //     background: #007aff;
        //   }
        // }
        span {
          margin-left: 10px;
          white-space: nowrap;
          overflow: hidden;
          width: 150px;
          text-overflow: ellipsis;
        }
      }
      li.active {
        border: 1px solid rgba(103, 176, 255, 1);
        &::before {
          background: #007aff;
        }
      }
    }
  }
}
.layout-modal-container {
  width: 90%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  .ant-btn {
    width: 150px;
    margin-left: 55px;
  }
}
