$font-Family: "PingFangSC-Regular", "PingFang SC";

* {
  padding: 0px;
  margin: 0px;
}
.formBuilder-NavBar {
  top: 60px;
  left: 0;
  z-index: 1000;
  height: 113px;
  width: 100%;
  padding: 10px 30px 0 30px;
  box-sizing: border-box;
  background: transparent;
  min-width: 1000px;
  display: flex;
  justify-content: space-between;
  // border-bottom: 1px solid rgba(238, 238, 238, 1);
  // box-shadow: 0px 1px 0px 0px rgba(233, 235, 240, 1);
  .headerBarTitle {
    line-height: 104px;
    font-size: 18px;
    font-family: $font-Family;
    font-weight: 400;
    color: #333;
  }
  .headerBarBack {
    line-height: 60px;
    height: 104px;
    width: 8%;
    display: flex;
    align-items: center;
    .ant-btn-link {
      margin-left: 10px;
      font-size: 14px;
      font-family: "Microsoft YaHei";
      font-weight: 500;
      color: rgba(86, 92, 110, 1);
      span {
        margin-left: 1px;
      }
    }
  }
  .headerBarExtraTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  #2A7FFF;
   >span{
     display: block;
     width: 104px;
     height: 36px;
     line-height: 36px;
     text-align: center;
     background-color: #fff;
      border-radius: 3px;
      margin-right: 20px;
    cursor: pointer;
    user-select: none;
   }
  }
  .headerBarButton {
    &.ant-btn {
      width: 104px;
      height: 36px;
    }
  }
}
