$font-Family: "PingFangSC-Regular", "PingFang SC";

* {
  padding: 0px;
  margin: 0px;
}
.formBuilder-NavBar {
  top: 60px;
  left: 0;
  z-index: 1000;
  height: 113px;
  width: 100%;
  padding: 10px 30px 0 30px;
  box-sizing: border-box;
  background: transparent;
  min-width: 1000px;
  display: flex;
  justify-content: space-between;
  // border-bottom: 1px solid rgba(238, 238, 238, 1);
  // box-shadow: 0px 1px 0px 0px rgba(233, 235, 240, 1);
  .headerBarTitle {
    line-height: 104px;
    font-size: 18px;
    font-family: $font-Family;
    font-weight: 400;
    color: #333;
  }
  .headerBarBack {
    line-height: 60px;
    height: 104px;
    width: 8%;
    display: flex;
    align-items: center;
    .ant-btn-link {
      margin-left: 10px;
      font-size: 14px;
      font-family: "Microsoft YaHei";
      font-weight: 500;
      color: rgba(86, 92, 110, 1);
      span {
        margin-left: 1px;
      }
    }
  }
  
  .headerBarButton {
    &.ant-btn {
      width: 104px;
      height: 36px;
    }
  }
}

.headerBarExtraTitle {
  color: #2a7fff;
  
  > span {
    display: inline-block;
    width: 104px;
    height: 36px;
    border: 1px solid #2a7fff;
    line-height: 36px;
    text-align: center;
    background-color: #fff;
    border-radius: 3px;
    margin-right: 20px;
    cursor: pointer;
    user-select: none;
    &:hover {
      background: #e6e6e6;
    }
  }
}

// 过滤字段样式
.fields-wraper {
  width: 160px !important;
  background: #ffffff;
  box-shadow: 0px 2px 6px #d2d4db;
  border-radius: 3px;
  color: #333333;
  margin-top: 9px;
  ::-webkit-scrollbar {
    width: 3px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d4d5d7;
    box-shadow: none;
  }
  // :hover {
  //   &::-webkit-scrollbar-thumb {
  //     background-color: #D4D5D7;
  //     box-shadow: none;
  //   }
  // }
  .fields-checkbox {
    display: flex;
    flex-direction: column;
    max-height: 210px;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid #d6d8de;
    overflow: auto;
    .ant-checkbox-group-item {
      margin: 9px 0;
      >span:last-child {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 120px;
        vertical-align: bottom;
        white-space: nowrap;
      }
    }
  }
  .fields-btn {
    height: 40px;
  }
}
