$font-Family: "PingFangSC-Regular", "PingFang SC";

* {
  padding: 0px;
  margin: 0px;
}
// body {
//   background-color: rgba(243, 244, 245, 1);
// }
// .ant-tooltip-inner {
//   background-color: red;
// }
// .ant-tooltip-arrow {
//   &::before {
//     background-color: red;
//   }
// }
.formBuilder-SatisfySurvey {
  width: 900px;
  height: 962px;
  margin: auto;
  display: flex;
  flex-flow: row;
  .Content {
    width: 700px;
    height: 864px;
    margin-top: 49px;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(233, 235, 240, 1);
    display: flex;
    flex-flow: row;
    justify-content: center;
    .ant-form {
      width: 500px;
      height: 600px;
      margin-top: 50px;
      text-align: left;
      .ant-row {
        margin-top: 14px;
        &:nth-child(2) {
          margin-top: 14px;
        }
        .ant-col {
          margin-top: 0px;
        }
      }
      .ant-form-item {
        font-size: 13px;
        margin-bottom: 37px;
        height: 75px;
        &:nth-child(3) {
          height: 110px;
        }
        &:nth-child(4) {
          height: 200px;
          .ant-col {
            margin-top: 0px;
          }
        }
        .ant-form-item-label {
          font-size: 13px;
          font-family: $font-Family;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          line-height: 18px;
        }
        .ant-input {
          width: 500px;
          height: 34px;
          font-size: 14px;
          border: 1px solid rgba(214, 216, 222, 1);
        }
        .ant-col {
          margin-top: 17px;
        }
        .ant-btn {
          width: 109px;
          height: 36px;
          background: rgba(0, 122, 255, 1);
          // border: 0px;
          border-radius: 4px;
          font-size: 14px;
          font-family: $font-Family;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
}
