$fontFamily: "Noto Sans SC";

.submissionTitle{
    padding-top: 50px;
    .ant-breadcrumb{
        height: 26px;
        line-height: 26px;
        padding-left: 30px;

        font-family:$fontFamily;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;

        color: #666666;
        .recordList{
            cursor: pointer;
        }
        .submitRecord{
            cursor: default;
        }
    }
    .ant-breadcrumb > span:last-child {
        color: #333333;
    }
}