.bind-pane {
  border: 10px solid transparent;
}

.bind-line {
  display: inline-flex;
  align-items: center;
  width: 100%;
  border-style: dotted;
  border-color: #adb5bd;
  border-width: thin;
  margin-top: 5px;

  .bind-split-div {
    height: 30px;
    background-color: #00c59f;
    width: 3px;
  }

  font-family: Microsoft YaHei;
  font-style: normal;
  font-weight: normal;
  .bind-cols {
    display: flex;
    flex-wrap: wrap;
  }
  .bind-label {
    width: 60px;
    padding-left: 10px;
    min-height: 30px;
    max-height: 70px;
    line-height: 30px;
  }
}

.left-pane {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: normal;
  .left-pane-data {
    height: 20%;
    border: 1px solid #adb5bd;
    border-bottom: none;
    padding: 0 14px;
  }

  .data-box {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }

  .change-data-source {
    cursor: pointer;
    color: #2b81ff;
  }

  .left-pane-dimension {
    height: 40%;
    border: 1px solid #babfc5;
    border-top: 1px dashed #adb5bd;
    border-bottom: none;
  }

  .left-pane-measure {
    height: 40%;
    border: 1px solid #adb5bd;
    border-top: 1px dashed #adb5bd;
  }

  .data-source-name {
    font-size: 15px;
    margin-left: 10px;
  }

  .data-source-name:hover {
    background-color: lightblue;
    text-decoration: underline;
    cursor: pointer;
  }
}

.right-pane {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: normal;
  .right-pane-chart {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    span {
      width: 100%;
      height: 30px;
      color: #333333;
      padding: 10px 10px 10px 10px;
    }
    .chart-group {
      display: flex;
      .IconBox {
        width: 50px;
        height: 50px;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #fff;
        &:hover {
          background-color: rgba(43, 129, 255, 0.1);
        }
        img {
          width: 40px;
          height: 40px;
        }
      }
      .activeIcon {
        background-color: rgba(43, 129, 255, 0.1);
        border: 2px solid #169bd5;
      }
    }
  }

  .right-pane-tools {
    height: 30%;
    border-top: 1px solid #adb5bd;
    padding: 16px 10px 0px 10px;
    .title {
      color: #333333;
      display: block;
      margin-bottom: 20px;
    }
    p {
      font-size: 14px;
      color: #777f97;
      margin-bottom: 7px;
    }
    .ant-input {
      width: 100%;
      height: 32px;
      border: 1px solid #d6d8de;
      margin-bottom: 16px;
      border-radius: 0px;
    }
    .checkboxGroup {
      display: flex;
      flex-direction: column;
      .ant-checkbox-wrapper {
        margin-left: 0px;
        margin-bottom: 8px;
        .ant-checkbox {
          width: 12px;
          height: 12px;
        }
        span {
          font-size: 12px;
          color: #777f97;
        }
      }
    }
  }
}

.col-title {
  // text-align: center;
  list-style: none;
  margin: 20px 14px;
  font-size: 16px;
  color: gray;
}

.bind-item {
  height: 20px;
  margin: 10px 14px;
  overflow: hidden;
}

.bind-item:hover {
  background-color: lightgreen;
}

.data-icon {
  margin-right: 10px;
}

// .ant-message{
//   position: fixed;
//   top: 60px;
// }
