.leftPane {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: normal;
}

.leftPaneData {
  height: 20%;
  border-bottom: none;
  padding: 0 20px;
}

.fieldContainer {
  // 40px is colTitle height.
  height: calc(100% - 40px);
  overflow: scroll;
}

.leftPaneDimension {
  height: 40%;
  border-top: 1px dashed #adb5bd;
  border-bottom: none;
}

.leftPaneMeasure {
  height: 40%;
  border-top: 1px dashed #adb5bd;
}

.bindItem {
  height: 31px;
  line-height: 31px;
  // margin: 12px 0;
  padding-left: 23px;
  overflow: hidden;
  color: #333333;
  font-size: 12px;
  box-sizing: border-box;
}

.bindItem:hover {
  background-color: rgba(42,122,255,0.15);
}

.dataIcon {
  font-size: 11px;
  margin-right: 9px;
}

.dataBox {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.changeDataSource {
  cursor: pointer;
  color: #2b81ff;
}

.dataSourceName {
  font-size: 15px;
  margin-left: 10px;
}

.dataSourceName:hover {
  cursor: pointer;
}

.colTitle {
  // text-align: center;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 14px;
  color: gray;
  height: 20px;
}