
  .meaContainer {
    height: 26px;
    font-size: 12px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    background-color: #00c59f;
    // margin-left: 10px;
    margin: 3px;
    .dropDownBtn {
      height: 26px;
      line-height: 26px;
      position: relative;
      text-align: center;
      color: #ffffff;
      .dropDownBtnSpan {
        padding: 0px 24px;
        width: auto;
        min-width: 80px;
        max-width: 160px;
        text-align: center;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      i {
        position: absolute;
        &:nth-child(1){
          left: 6px;
          top: 8px;
        }
        &:nth-child(3){
          right:6px;
          top: 8px;
        }
      }
    }
    .dropDownItemContainer {
      width: 100%;
      height: auto;
      border: 1px solid #f3f4f5;
      background-color: #fff;
      position: absolute;
      z-index: 100;
      .dropDownItem {
        width: 100%;
        height: 32px;
        position: relative;
        &:hover {
          background-color: #dfecff;
        }
        .dropDownItemSpan {
          display: inline-block;
          padding-left: 17px;
          height: 32px;
          line-height: 32px;
          color: #333333;
        }
        
        i {
          position: absolute;
          color: #2b81ff;
          right: 12px;
          top:8px
        }
      }
    }
  }
  .dimContainer{
    width: 80px;
    height: 26px;
    font-size: 12px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 3px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #2b81ff;
    padding-right: 4px;
    border-radius: 15px;
    i {
      position: absolute;
      right: 3px;
    }
  }