.rightPane {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: Noto Sans SC;
  font-style: normal;
  font-weight: normal;
}

.rightPaneChart {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  span {
    width: 100%;
    height: 30px;
    color: #333333;
    padding: 10px 10px 10px 10px;
  }
}

.chartGroup {
  display: flex;
  .IconBox {
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    &:hover {
      background-color: rgba(43, 129, 255, 0.1);
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
  .activeIcon {
    background-color: rgba(43, 129, 255, 0.1);
    border: 2px solid #169bd5;
  }
  .unavailable{
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    cursor: not-allowed;
    // pointer-events: none;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    &:hover {
      background-color: rgba(43, 129, 255, 0.1);
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
}

.rightPaneTools {
  height: 30%;
  border-top: 1px solid #adb5bd;
  padding: 16px 10px 0px 10px;
 
  .title {
    color: #333333;
    display: block;
    margin-bottom: 20px;
  }
  :global(p) {
    font-size: 14px;
    color: #777f97;
    margin-bottom: 7px;
  }
  :global(.ant-input) {
    width: 100%;
    height: 32px;
    border: 1px solid #d6d8de;
    margin-bottom: 16px;
    border-radius: 0px;
  }
  .checkboxGroup {
    display: flex;
    flex-direction: column;
    :global(.ant-checkbox-wrapper) {
      margin-left: 0px;
      margin-bottom: 8px;

      :global(.ant-checkbox) {
        width: 12px;
        height: 12px;
      }
      :global(span) {
        font-size: 12px;
        color: #777f97;
      }
    }
  }
  .showXYTitle{
    display: block;
  }
  .hideXYTitle{
    display: none;
  }
}