$font-Family: "PingFangSC-Regular", "PingFang SC";

.formBuilder {
  padding: 0 30px;
}
.react-form-builder-header {
  // position: fixed;
  top: 60px;
  left: 0;
  z-index: 99;
  height: 107px;
  width: 100%;
  // background: rgba(255, 255, 255, 1);
  min-width: 1000px;
  display: flex;
  padding-top: 10px;
  // flex-direction: row;
  // border-bottom: 1px solid rgba(238, 238, 238, 1);
  // box-shadow: 0px 1px 0px 0px rgba(233, 235, 240, 1);
  .headerBarBack {
    height: 60px;
    width: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    .ant-btn-link {
      margin-left: 10px;
      font-size: 14px;
      font-family: $font-Family;
      font-weight: 500;
      color: rgba(86, 92, 110, 1);
    }
    .ant-btn {
      padding: 0px;
    }
  }
  .FormTitle {
    // height: 60px;
    width: 33%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    .showFormTitle {
      margin-left: 5px;
      width: auto;
      text-align: right;
      height: 30px;
      background-color: rgba(255, 255, 255, 1);
      border: none;
    }
    .editFormTitle {
      margin-left: 5px;
      width: auto;
      text-align: center;
      height: 30px;
      background-color: rgba(255, 255, 255, 1);
      border: none;
      border-bottom: 0.7px solid black;
    }
    img {
      width: 13px;
      height: 13px;
      margin-left: 9px;
      margin-top: 3px;
    }
  }
  .CreateFormStep {
    flex-grow: 1;
  }
  .CreateFormOperations {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: 60px;
    .header-btn {
      height: 36px;
      margin-left: 20px;
      padding: 0 36px;
      border: none;
      border-radius: 3px;
      &.default {
        color: #2A7FFF;
      }
      &.primary {
        background-color: #2A7FFF;
      }
    }
  }
}

.react-form-builder {
  display: flex;
  width: 100%;
  padding-top: 157px;
  margin-top: -157px;
  height: 100vh;
  box-sizing: border-box;
  // background:#F3F4F5;

  .react-form-builder-toolbar {
    width: 320px;
    background: #fff;
    // flex: initial;
    flex: none;
    padding: 20px;
    h4 {
      margin-top: 0;
      text-align: center;
    }
    .form-group {
      padding: 10px;
      border: 1px dashed #ddd;
    }

    ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        display: flex;
        align-items: center;
        flex-basis: 45.95%;
        margin: 0 2%;
        cursor: pointer;
        list-style: none;
        height: 34px;
        margin-bottom: 10px;
        border: 1px solid #d6d8de;
        border-radius: 4px;
        overflow: hidden;
        &::before {
          content: "";
          width: 4px;
          height: 34px;
          background: #d8d8d8;
        }
        > span {
          display: flex;
          width: 38px;
          justify-content: center;
        }
        &:hover {
          border: 1px solid rgba(103, 176, 255, 1);
          &::before {
            background: #007aff;
          }
          .icon-wrap {
            & i:nth-child(2) {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .preview-container {
    width: 70%;
    flex: initial;
    padding-top: 49px;
    background: #f3f4f5;
    overflow-y: auto;
    .react-form-builder-preview {
      min-height: 100%;
      max-width: 870px;
      margin: 0 auto;
      border: 1px solid #ddd;
      background: #fff;
      // height: 870px;
      #emptyFormComponent {
        height: 96%;
      }
      &.isdragging {
        .Sortable,
        .place-text {
          background: rgba(233, 243, 255, 1);
          outline: 1px dashed rgba(0, 122, 255, 1);
        }
      }
      .header-title {
        height: 56px;
        margin-bottom: 29px;
        line-height: 56px;
        font-size: 18px;
        color: #565c6e;
        background: #fafafa;
        font-weight: 500;
        text-align: center;
        font-weight: 500;
        border-bottom: 1px solid #e9ebf0;
        font-family: PingFangSC-Medium, PingFang SC;
      }
      .preview-page-break {
        padding: 5px 0;
        border-top: 2px dotted #ccc;
        border-bottom: 2px dotted #ccc;
        background: #eee;
        text-align: center;
        width: 100%;
        font-weight: bold;
        margin: 5px 0;
        background: repeating-linear-gradient(
          45deg,
          #fff,
          #fff 10px,
          #eee 10px,
          #eee 20px
        );
      }

      label {
        font-weight: normal;
      }

      .bold {
        font-weight: bold;
      }
      .italic {
        font-style: italic;
      }

      .no-image {
        background: #eee;
        width: 100px;
        height: 100px;
        border: 1px solid #ddd;
        text-align: center;
        padding-top: 35px;
      }
      .form-label {
        display: block !important;
      }

      .edit-form {
        position: fixed;
        background: #fafafa;
        padding: 30px;
        border-left: 0;
        box-shadow: none;
        top: 0;
        left: -1000px;
        height: 100%;
        width: 715px;
        transition: 0.5s;
        overflow-y: auto;
        h4,
        .dismiss-edit {
          margin-bottom: 30px;
        }
        .dismiss-edit {
          cursor: pointer;
          margin-top: 10px;
          font-size: 125%;
        }
        textarea {
          width: 100%;
        }
        .form-group {
          .form-group-range {
            label {
              display: block;
            }
            input {
              display: inline-block;
              width: 21%;
              margin-left: 0;
              &:last-of-type {
                width: 78%;
                margin-left: 1%;
              }
              &:first-of-type {
                width: 21%;
                margin-left: 0;
              }
            }
          }
        }
        .dynamic-option-list {
          margin-bottom: 15px;
          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
              margin-top: 10px;
              input {
                &.form-control {
                  width: 84.26%;
                  float: left;
                  &[type="checkbox"] {
                    border: none;
                    box-shadow: none;
                    margin-top: 0;
                  }
                }
                margin-right: 10px;
              }
              button {
                float: left;
                margin-right: 5px;
              }
              .dynamic-options-actions-buttons {
                margin-left: 20px;
              }
            }
          }
        }
      }
      .Sortable {
        min-height: 650px;
        transition: all 0.2s ease-in;
        position: relative;
        cursor: move;
        display: flex;
        flex-direction: column;
        & > div {
          box-sizing: border-box;
          flex-grow: 0;
        }
        .ant-popover {
          width: 496px;
          height: auto;
        }

        #dragParent {
          width: 100%;
          flex-grow: 2;
          min-height: 200px;
          cursor: auto;
          position: relative;
          .form-group {
            cursor: hand;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
            padding: 10px 0;
            button {
              min-width: 110px;
              height: 36px;
            }
            &:hover {
              background: #fafafa;
            }
          }
          .active {
            background: #e9f3ff;
            border: 1px dashed #007aff;
            &:hover {
              background: #e9f3ff !important;
            }
          }
          #dragParentShadow {
            position: absolute;
            display: none;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
          }
        }

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        .rfb-item {
          padding: 17px 73px 20px 73px;
          box-sizing: border-box;
          &.SortableItem {
            position: relative;
            box-sizing: border-box;
            border: 1px solid rgba(0, 0, 0, 0);
            .sort-item-title {
              width: 100%;
            }
            &.active {
              background: rgba(233, 243, 255, 1);
              border: 1px dashed rgba(0, 122, 255, 1);
            }
            .form-group {
              margin: 0;
              width: 100%;
              .ant-input-affix-wrapper.ant-input-affix-wrapper-textarea-with-clear-btn {
                .ant-input {
                  resize: none;
                }
              }
              .form-child-test {
                width: 100%;
                height: 100px;
                overflow-x: auto;
                overflow-y: hidden;
                display: flex;
                &::-webkit-scrollbar-thumb {
                  background: #cccccc;
                }
                &::-webkit-scrollbar {
                  height: 5px;
                }
                &::-webkit-scrollbar-track {
                  box-shadow: 0 0;
                  background-color: rgba(255, 255, 255, 0);
                }
                &::-webkit-scrollbar-track-piece {
                  background-color: rgba(255, 255, 255, 0);
                }
                &:hover {
                  cursor: auto;
                }
                #formChildTest {
                  width: 100%;
                  height: 86px;
                  border: 1px solid #d6d8de;
                  box-sizing: border-box;
                  font-size: 13px;
                  line-height: 80px;
                  color: #aaaaaa;
                  text-align: center;
                }
                .formChildTest-hover {
                  color: rgba(0, 0, 0, 0) !important;
                  border: 1px dashed #d6d8de !important;
                }
                .form-child-item {
                  display: flex;
                  height: 86px;
                  box-sizing: border-box;
                  .item-component {
                    width: 160px;
                    border-right: 0.5px solid rgba(214, 216, 222, 1);
                    border-bottom: 0.5px solid rgba(214, 216, 222, 1);
                    box-sizing: border-box;
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .ant-input {
                      width: 145px;
                      height: 80%;
                      border-radius: 5px;
                    }
                    .ant-select {
                      width: 145px;
                      height: 80%;
                    }
                    label {
                      padding: 8px;
                    }
                    .checkboxComponent {
                      width: 100%;
                      height: 100%;
                      display: flex;
                      justify-content: flex-end;
                      .component-icon {
                        margin-right: 11px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        height: 100%;
                        img {
                          width: 20px;
                        }
                      }
                    }
                    .deleteBtn {
                      position: relative;
                      z-index: 100;
                      img {
                        width: 30px;
                        height: 30px;
                        position: absolute;
                        right: 0px;
                        top: 5px;
                        margin-right: -3px;
                      }
                    }
                    .activeItem {
                      display: none;
                    }
                    .activeContent {
                      background-color: gray;
                      opacity: 0.3;
                    }
                  }
                  .item-title {
                    width: 160px;
                    height: 50%;
                    color: #6e85a1;
                    line-height: 30px;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 4px;
                    border-bottom: 0.5px solid rgba(214, 216, 222, 1);
                    border-right: 0.5px solid rgba(214, 216, 222, 1);
                    border-top: 0.5px solid rgba(214, 216, 222, 1);
                    box-sizing: border-box;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                  }
                  .item-title-required {
                    width: 160px;
                    height: 50%;
                    color: #6e85a1;
                    line-height: 30px;
                    font-size: 14px;
                    font-weight: 500;
                    padding: 4px;
                    border-bottom: 0.5px solid rgba(214, 216, 222, 1);
                    border-right: 0.5px solid rgba(214, 216, 222, 1);
                    border-top: 0.5px solid rgba(214, 216, 222, 1);
                    box-sizing: border-box;
                    &::after {
                      content: "*";
                      margin: 0 0 0 2;
                      color: red;
                      top: 0.5px;
                    }
                  }
                  .activeContent {
                    border: 1px dashed #007aff;
                  }
                }
                .form-child-head {
                  display: flex;
                  height: 86px;
                  width: 60px;
                  flex: 0 0 auto;
                  box-sizing: border-box;
                  flex-direction: column;
                  border: 1px solid rgba(214, 216, 222, 1);
                  border-right: 0 solid rgba(214, 216, 222, 1);
                  .item-component {
                    width: 100%;
                    box-sizing: border-box;
                    height: 50%;
                    padding: 5px;
                    border-right: 0.5px solid rgba(214, 216, 222, 1);
                    text-align: center;
                  }
                  .item-title {
                    width: 100%;
                    height: 50%;
                    color: #6e85a1;
                    line-height: 30px;
                    font-size: 14px;
                    padding: 4px;
                    border-bottom: 0.5px solid rgba(214, 216, 222, 1);
                    border-right: 0.5px solid rgba(214, 216, 222, 1);
                    box-sizing: border-box;
                  }
                }
                .form-child-foot {
                  height: 86px;
                  width: 80px;
                  flex: 0 0 auto;
                  box-sizing: border-box;
                  border: 1px solid rgba(214, 216, 222, 1);
                  border-left: 0 solid rgba(214, 216, 222, 1);
                  font-size: 13px;
                  line-height: 80px;
                  color: #aaaaaa;
                  text-align: center;
                }
              }
              .ant-input-affix-wrapper {
                .ant-input {
                  min-height: 32px;
                }
              }
              .localposition-container {
                margin-top: 2px;
                .address-wrapper {
                  height: 150px;
                  margin-bottom: 20px;
                  display: block;
                  border: 1px solid #eee;
                  border-width: 1px;
                  padding: 5px 10px;
                }
                .loaction-tip {
                  display: block;
                  width: 240px;
                  color: #666666;
                  font-weight: 400;
                }
                .ant-btn {
                  margin-top: 11px;
                  width: 260px;
                  height: 34px;
                  font-size: 14px;
                  img {
                    position: relative;
                    margin-right: 7px;
                    top: -3px;
                  }
                }
              }
              .image-upload-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 10px;
                width: 150px;
                height: 116px;
                border: 1px dashed #666666;
                border-radius: 4px;
                .anticon-plus-circle {
                  margin: 15px 0;
                  font-size: 24px;
                  color: #007aff;
                }
              }
              .row-layout {
                display: flex;
                flex-wrap: wrap;
              }
              .column-layout {
                display: flex;
                flex-direction: column;
              }
              label,
              select,
              input,
              a {
                border-radius: 0;
                -webkit-box-shadow: none;
                box-shadow: none;
                cursor: move;
              }
              label {
                padding: 0;
                color: #333333;
                font-size: 13px;
                font-weight: 400;
                line-height: 22px;
              }
              input[type="date"] {
                height: 42px;
              }
              .react-star-rating {
                display: block;
              }
              .checkbox-label,
              .radio-label {
                white-space: normal;
                font-weight: normal;
                display: block;
                height: auto;
                line-height: 22px;
                word-break: break-all;
                font-family: PingFangSC-Regular, PingFang SC;
                margin-bottom: 5px;
                font-size: 14px;
              }
              .label-required {
                margin-left: 5px;
              }
            }

            &.is-dragging {
              position: absolute;
              z-index: 1688;
              border: 2px #ccc dashed;
              background: #fff;
              cursor: move;
              padding: 10px 20px;
            }
          }
          &.is-placeholder {
            display: block;
            z-index: auto;
            opacity: 0.4;
            border: 2px #ccc dashed;
          }
          .toolbar-header {
            // opacity: 0;
            z-index: 100;
            position: relative;
            display: flex;
            .dot {
              flex: 0 0 auto;
              margin-top: 6px;
              display: inline-block;
              width: 9px;
              height: 9px;
              border-radius: 50%;
              margin-right: 5px;
              background: linear-gradient(
                143deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(213, 213, 213, 1) 100%
              );
              &.active {
                background: linear-gradient(
                  143deg,
                  rgba(139, 253, 255, 1) 0%,
                  rgba(106, 170, 255, 1) 100%
                );
              }
            }
            #fckThis {
              width: auto;
              height: 100%;
            }
            .label {
              padding: 0;
              color: #333333;
              font-family: "PingFangSC-Regular,PingFang SC";
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              background-color: transparent;
              word-break: break-all;
              white-space: normal;
            }
            .red-star {
              color: red;
              font-size: 13px;
              margin-left: 5px;
            }
            .radio-tooltip {
              display: block;
              font-size: 13px;
              color: #92979f;
              line-height: 18px;
              word-break: break-all;
              font-family: "PingFangSC-Regular,PingFang SC";
              margin-bottom: 7px 0;
            }
            .lengthTip {
              margin-left: 2px;
              font-size: 14px;
              line-height: 22px;
              color: #333333;
              font-family: "PingFangSC-Regular,PingFang SC";
            }
            .toolbar-header-buttons {
              position: absolute;
              width: 120px;
              /* bottom: 85%; */
              right: -80px;
              top: -45px;
              height: 50px;
              font-size: 10px;
              /* right: -65px;*/
              img {
                width: 48px;
                height: 48px;
                // outline: 1px dashed #666;
              }
            }
            .btn {
              padding: 0;
              visibility: hidden;
              margin: 0 5px;
              border-radius: 0;
              // font-size: 10px;
            }
          }
          &:hover {
            background: #fafafa;
            // padding: 16px 73px 19px 73px;
            z-index: 200;
            select,
            input {
              cursor: move;
              pointer-events: none;
            }
            input {
              background: #fafafa;
            }
            .toolbar-header {
              opacity: 1;
            }
            .btn {
              padding: 0;
              // background: #fff;
              visibility: visible;
              margin: 0 5px;
              border-radius: 0;
              font-size: 10px;
            }
            .fa-clone {
              color: #1786ff;
            }
            .fa-trash-o {
              color: #dc2222;
            }
          }
        }
      }
      &.is-editing {
        // .Sortable {
        //   opacity: .5;
        //   transition: opacity .25s ease-in;
        // }
        .edit-form {
          z-index: 2000;
          border-right: 1px solid #ddd;
          box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
          // width: 80%;
          left: 0;
          transition: 0.5s;
        }
      }
      .ant-upload {
        width: 100%;
        .ant-btn {
          width: 100%;
        }
      }
    }
  }

  .react-form-builder-inspector {
    min-width: 400px;
    width: 30%;
    flex: initial;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 1);
    .tab-bar {
      width: 100%;
      height: 100%;
      .ant-tabs-bar {
        margin: 0;
      }
      .ant-tabs-content {
        box-sizing: border-box;
        height: calc(100% - 36px);
        .ant-tabs-tabpane:nth-child(2) {
          padding: 17px 15px 50px 15px;
          box-sizing: border-box;
          height: calc(100% - 36px);
          min-width: 400px;
          // margin: auto;
          overflow-y: auto;
        }
      }
      .ant-tabs-nav-container {
        padding: 0;
        > span {
          display: none;
        }
        .ant-tabs-nav {
          width: 100%;
          height: 36px;
          line-height: 12px;
          .ant-tabs-tab {
            width: 50%;
            margin: 0;
            text-align: center;
          }
        }
      }
    }
    .ant-tabs-tabpane {
      overflow-y: auto;
      margin: 0px;
      .FormChildTestInspector {
        .base-form-tool {
          p {
            height: 20px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(86, 92, 110, 1);
            line-height: 20px;
            margin-bottom: 8px;
            font-weight: initial;
          }
          .ant-input {
            color: #565c6e;
            border-radius: 0;
            margin-bottom: 26px;
            font-weight: 400;
          }
          .ant-input-number {
            width: 130px;
            margin-bottom: 26px;
            border-radius: 0px;
          }
          .err-input {
            border: 1px solid red;
          }
          .checkbox-wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .ant-checkbox {
              width: 16px;
              .ant-checkbox-inner {
                border-style: dashed;
              }
            }
            .ant-checkbox-wrapper {
              margin-bottom: 16px;
            }
            .ant-checkbox-wrapper + .ant-checkbox-wrapper {
              margin-left: 0;
            }
            span:nth-child(2) {
              margin-right: 29px;
              font-weight: 400;
            }
          }
          .number-check-warper {
            display: flex;
            align-items: baseline;
            .ant-input {
              height: 34px;
              width: 130px;
              margin-bottom: 10px;
            }
          }
          .ComponentItem {
            .ant-input {
              background: rgba(255, 255, 255, 1);
              border-radius: 4px;
              border: 1px solid rgba(214, 216, 222, 1);
              width: calc(100% - 84px);
              margin-bottom: 10px;
            }
            img {
              width: 32px;
              height: 32px;
              margin-left: 10px;
              margin-bottom: 7px;
            }
          }
          .ant-select {
            width: 100%;
            margin-bottom: 26px;
          }
        }
      }
      .FormVerification-container {
        height: calc(100% - 36px);
        p {
          margin-top: 16px;
          margin-bottom: 0px;
          font-size: 14px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(51, 51, 51, 1);
          &:nth-child(1) {
            margin-top: 14px;
          }
        }
        .ant-input {
          background: rgba(255, 255, 255, 1);
          border-radius: 4px;
          border: 1px solid rgba(214, 216, 222, 1);
          margin-top: 8px;
        }
        .ant-btn {
          width: 100%;
          margin-top: 10px;
          height: 33px;
          background: rgba(120, 204, 246, 1);
          border-radius: 4px;
          border: 1px solid rgba(206, 239, 255, 1);
        }
        .VerificationItem {
          .ant-input {
            background: rgba(255, 255, 255, 1);
            border-radius: 4px;
            border: 1px solid rgba(214, 216, 222, 1);
            width: calc(100% - 84px);
          }
          img {
            width: 32px;
            height: 32px;
            margin-left: 10px;
            margin-bottom: 7px;
          }
        }
      }
      .FileUploadInspector {
        .costom-info-card {
          padding: 17px 15px 0 15px;
        }
        .ant-divider-horizontal {
          margin: 1px 0;
        }
        p {
          height: 20px;
          font-family: "PingFangSC-Regular", "PingFang SC";
          font-weight: 400;
          color: rgba(86, 92, 110, 1);
          line-height: 20px;
          margin-bottom: 8px;
          font-weight: initial;
        }
        .ant-input {
          color: #565c6e;
          border-radius: 0;
          margin-bottom: 26px;
          font-weight: 400;
        }
        .checkbox-wrapper {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          .ant-checkbox {
            width: 16px;
            .ant-checkbox-inner {
              border-style: dashed;
            }
          }
          .ant-checkbox-wrapper {
            margin-bottom: 16px;
          }
          .ant-checkbox-wrapper + .ant-checkbox-wrapper {
            margin-left: 0;
          }
          span:nth-child(2) {
            margin-right: 29px;
            font-weight: 400;
          }
          .ant-input {
            width: 130px;
            height: 34px;
            border: 1px solid rgba(214, 216, 222, 1);
          }
        }
        .fileSizeInput {
          display: flex;
          flex-direction: row;
          .ant-input {
            width: 130px;
            height: 34px;
            border: 1px solid rgba(214, 216, 222, 1);
          }
          .ant-select-selection--single {
            height: 32px;
            margin-left: 10px;
          }
        }
      }
      .IdCardInspector {
        .costom-info-card {
          padding: 17px 15px 0 15px;
        }
        .ant-divider-horizontal {
          margin: 1px 0;
        }
        p {
          height: 20px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(86, 92, 110, 1);
          line-height: 20px;
          margin-bottom: 8px;
          font-weight: initial;
        }
        .ant-input {
          color: #565c6e;
          border-radius: 0;
          margin-bottom: 26px;
          font-weight: 400;
        }
        .checkbox-wrapper {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          .ant-checkbox {
            width: 16px;
            .ant-checkbox-inner {
              border-style: dashed;
            }
          }
          .ant-checkbox-wrapper {
            margin-bottom: 16px;
          }
          .ant-checkbox-wrapper + .ant-checkbox-wrapper {
            margin-left: 0;
          }
          span:nth-child(2) {
            margin-right: 29px;
            font-weight: 400;
          }
        }
      }
      .checkboxInspector {
        // width: 260px;
        p {
          height: 20px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(86, 92, 110, 1);
          line-height: 20px;
          margin-bottom: 8px;
          font-weight: initial;
          // &:nth-last-of-type(-n + 2) {
          //   margin-top: 26px;
          // }
        }
        .ant-input {
          color: #565c6e;
          border-radius: 0;
          margin-bottom: 26px;
          font-weight: 400;
        }
        .chooseitems {
          height: auto;
          text-align: center;
          margin-bottom: 26px;
          .ChooseItemWarp {
            // width: 260px;
            height: 34px;
            line-height: 34px;
            margin-bottom: 9px;
            .ant-input {
              width: 88%;
              height: 34px;
              margin: auto;
              border: 1px solid rgba(214, 216, 222, 1);
            }
            img {
              &:nth-child(1) {
                width: 10px;
                height: 16px;
                margin-right: 8px;
              }
              &:nth-child(3) {
                margin-left: 5px;
                width: 15px;
                height: 16px;
              }
            }
          }
          .ant-btn {
            width: 88%;
            height: 34px;
            border: dashed;
            border-radius: 0;
            border-color: #d6d8de;
            color: #565c6e;
            border-width: 1px;
            font-size: 13px;
            font-family: PingFangSC-Regular, PingFang SC;
            i{
              position: relative;
              bottom: 2.5px;
            }
          }
        }
        .RadioWapper {
          margin-bottom: 26px;
          .ant-radio-wrapper {
            margin-right: 20px;
            font-size: 14px;
            font-family: "PingFangSC-Regular", "PingFang SC";
            font-weight: 400;
            color: rgba(86, 92, 110, 1);
          }
        }
        .checkbox-wrapper {
          display: flex;
          flex-wrap: wrap;
          .ant-checkbox {
            width: 16px;
            .ant-checkbox-inner {
              border-style: dashed;
            }
          }
          .ant-checkbox-wrapper {
            margin-bottom: 16px;
          }
          .ant-checkbox-wrapper + .ant-checkbox-wrapper {
            margin-left: 0;
          }
          span:nth-child(2) {
            margin-right: 29px;
            font-weight: 400;
          }
        }
      }
      .DropDownInspector {
        // width: 260px;
        // height: 899px;
        p {
          height: 20px;
          font-family: "PingFangSC-Regular,PingFang SC";
          font-weight: 400;
          color: rgba(86, 92, 110, 1);
          line-height: 20px;
          margin-bottom: 8px;
          font-weight: initial;
        }
        .ant-input {
          color: #565c6e;
          border-radius: 0;
          margin-bottom: 26px;
          font-weight: 400;
        }
        .chooseitems {
          height: auto;
          text-align: center;
          margin-bottom: 26px;
          .ChooseItemWarp {
            // width: 260px;
            height: 34px;
            line-height: 34px;
            margin-bottom: 9px;
            .ant-input {
              width: 88%;
              height: 34px;
              margin: auto;
              border: 1px solid rgba(214, 216, 222, 1);
            }
            img {
              &:nth-child(1) {
                width: 10px;
                height: 16px;
                margin-right: 8px;
              }
              &:nth-child(3) {
                margin-left: 5px;
                width: 15px;
                height: 16px;
              }
            }
          }
          .ant-btn {
            i{
              position: relative;
              bottom: 2.5px;
            }
            width: 88%;
            height: 34px;
            border: dashed;
            border-radius: 0;
            border-color: #d6d8de;
            color: #565c6e;
            border-width: 1px;
            font-size: 13px;
            font-family: PingFangSC-Regular, PingFang SC;
          }
        }
        .checkbox-wrapper {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          .ant-checkbox {
            width: 16px;
            .ant-checkbox-inner {
              border-style: dashed;
            }
          }
          .ant-checkbox-wrapper {
            margin-bottom: 16px;
          }
          .ant-checkbox-wrapper + .ant-checkbox-wrapper {
            margin-left: 0;
          }
          span:nth-child(2) {
            margin-right: 29px;
            font-weight: 400;
          }
        }
      }
      .NoChooseTag {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 200px;
        font-size: 16px;
        font-family: "PingFangSC-Regular", "PingFang SC";
        font-weight: 400;
        color: rgba(86, 92, 110, 1);
      }
      /*
            Komons - style - start
        */

      .base-form-tool {
        .costom-info-card {
          padding: 17px 15px 0 15px;
        }
        .ant-divider-horizontal {
          margin: 1px 0;
        }
        p {
          height: 20px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(86, 92, 110, 1);
          line-height: 20px;
          margin-bottom: 8px;
          font-weight: initial;
        }
        .ant-input {
          color: #565c6e;
          border-radius: 0;
          margin-bottom: 26px;
          font-weight: 400;
        }
        .checkbox-wrapper {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          .ant-checkbox {
            width: 16px;
            .ant-checkbox-inner {
              border-style: dashed;
            }
          }
          .ant-checkbox-wrapper {
            margin-bottom: 16px;
          }
          .ant-checkbox-wrapper + .ant-checkbox-wrapper {
            margin-left: 0;
          }
          span:nth-child(2) {
            margin-right: 29px;
            font-weight: 400;
          }
        }
      }

      /*
            Komons - style - end
        */
      .textarea-text-input {
        .costom-info-card {
          padding: 17px 15px 0 15px;
        }
        .ant-divider-horizontal {
          margin: 1px 0;
        }
        .base-form-tool {
          p {
            height: 20px;
            font-family: PingFangSC-Regular, PingFang SC;
            font-weight: 400;
            color: rgba(86, 92, 110, 1);
            line-height: 20px;
            margin-bottom: 8px;
            font-weight: initial;
          }
          .ant-input {
            color: #565c6e;
            border-radius: 0;
            margin-bottom: 26px;
            font-weight: 400;
          }
          .ant-input-number {
            width: 130px;
            margin-bottom: 26px;
            border-radius: 0px;
          }
          .err-input {
            border: 1px solid red;
          }
          .checkbox-wrapper {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            .ant-checkbox {
              width: 16px;
              .ant-checkbox-inner {
                border-style: dashed;
              }
            }
            .ant-checkbox-wrapper {
              margin-bottom: 16px;
            }
            .ant-checkbox-wrapper + .ant-checkbox-wrapper {
              margin-left: 0;
            }
            span:nth-child(2) {
              margin-right: 29px;
              font-weight: 400;
            }
          }
          .number-check-warper {
            display: flex;
            align-items: baseline;
            .ant-input {
              height: 34px;
              width: 130px;
              margin-bottom: 10px;
            }
          }
          .submit-btn-input {
            margin-bottom: 4px;
          }
          .submit-input-error {
            border: 1px solid red;
          }
          .submit-error {
            margin-bottom: 20px;
            .submit-btn-error {
              color: red;
            }
          }
        }
      }
      .multidropdown-inspector {
        .costom-info-card {
          padding: 17px 15px 0 15px;
        }
        .ant-divider-horizontal {
          margin: 1px 0;
        }
        p {
          height: 20px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(86, 92, 110, 1);
          line-height: 20px;
          margin-bottom: 8px;
          font-weight: initial;
        }
        .ant-input {
          color: #565c6e;
          border-radius: 0;
          margin-bottom: 26px;
          font-weight: 400;
        }

        .chooseitems {
          height: auto;
          text-align: center;
          margin-bottom: 26px;
          .ChooseItemWarp {
            // width: 260px;
            height: 34px;
            line-height: 34px;
            margin-bottom: 9px;
            .ant-input {
              width: 88%;
              height: 34px;
              margin: auto;
              border: 1px solid rgba(214, 216, 222, 1);
            }
            img {
              &:nth-child(1) {
                width: 10px;
                height: 16px;
                margin-right: 8px;
              }
              &:nth-child(3) {
                margin-left: 5px;
                width: 15px;
                height: 16px;
              }
            }
          }
          .ant-btn {
            width: 88%;
            height: 34px;
            border: dashed;
            border-radius: 0;
            border-color: #d6d8de;
            color: #565c6e;
            border-width: 1px;
            font-size: 13px;
            font-family: PingFangSC-Regular, PingFang SC;
            i{
              position: relative;
              bottom: 2.5px;
            }
          }
        }
        .RadioWapper {
          margin-bottom: 26px;
          .ant-radio-wrapper {
            margin-right: 20px;
            font-size: 14px;
            font-family: "PingFangSC-Regular", "PingFang SC";
            font-weight: 400;
            color: rgba(86, 92, 110, 1);
          }
        }
        .checkbox-wrapper {
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          .ant-checkbox {
            width: 16px;
            .ant-checkbox-inner {
              border-style: dashed;
            }
          }
          .ant-checkbox-wrapper {
            margin-bottom: 16px;
            font-weight: 400;
          }
          .ant-checkbox-wrapper + .ant-checkbox-wrapper {
            margin-left: 0;
          }
          span:nth-child(2) {
            margin-right: 29px;
            font-weight: 400;
          }
        }
      }

      .radio-input-inspactor {
        .costom-info-card {
          padding: 17px 15px 0 15px;
        }
        .ant-divider-horizontal {
          margin: 1px 0;
        }
        p {
          height: 20px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(86, 92, 110, 1);
          line-height: 20px;
          margin-bottom: 8px;
          font-weight: initial;
          // &:nth-last-of-type(-n + 2) {
          //   margin-top: 26px;
          // }
        }
        .ant-input {
          color: #565c6e;
          border-radius: 0;
          margin-bottom: 26px;
          font-weight: 400;
        }
        .chooseitems {
          height: auto;
          text-align: center;
          margin-bottom: 26px;
          .ChooseItemWarp {
            // width: 260px;
            height: 34px;
            line-height: 34px;
            margin-bottom: 9px;
            .ant-input {
              width: 88%;
              height: 34px;
              margin: auto;
              border: 1px solid rgba(214, 216, 222, 1);
            }
            img {
              &:nth-child(1) {
                width: 10px;
                height: 16px;
                margin-right: 8px;
              }
              &:nth-child(3) {
                margin-left: 5px;
                width: 15px;
                height: 16px;
              }
            }
          }
          .ant-btn {
            width: 88%;
            height: 34px;
            border: dashed;
            border-radius: 0;
            border-color: #d6d8de;
            color: #565c6e;
            border-width: 1px;
            font-size: 13px;
            font-family: PingFangSC-Regular, PingFang SC;
            i{
              position: relative;
              bottom: 2.5px;
            }
          }
        }
        .RadioWapper {
          margin-bottom: 26px;
          .ant-radio-wrapper {
            margin-right: 20px;
            font-size: 14px;
            font-family: "PingFangSC-Regular", "PingFang SC";
            font-weight: 400;
            color: rgba(86, 92, 110, 1);
          }
        }
        .checkbox-wrapper {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          .ant-checkbox {
            width: 16px;
            .ant-checkbox-inner {
              border-style: dashed;
            }
          }
          .ant-checkbox-wrapper {
            margin-bottom: 16px;
            font-weight: 400;
          }
          .ant-checkbox-wrapper + .ant-checkbox-wrapper {
            margin-left: 0;
          }
          span:nth-child(2) {
            margin-right: 29px;
            font-weight: 400;
          }
        }
      }
      .position-inspector {
        .costom-info-card {
          padding: 17px 15px 0 15px;
        }
        .ant-divider-horizontal {
          margin: 1px 0;
        }
        p {
          height: 20px;
          font-family: PingFangSC-Regular, PingFang SC;
          font-weight: 400;
          color: rgba(86, 92, 110, 1);
          line-height: 20px;
          margin-bottom: 8px;
          font-weight: initial;
        }
        .ant-input {
          color: #565c6e;
          border-radius: 0;
          margin-bottom: 26px;
          font-weight: 400;
        }
        .checkbox-wrapper {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          .ant-checkbox {
            width: 16px;
            .ant-checkbox-inner {
              border-style: dashed;
            }
          }
          .ant-checkbox-wrapper {
            margin-bottom: 16px;
          }
          .ant-checkbox-wrapper + .ant-checkbox-wrapper {
            margin-left: 0;
          }
          span:nth-child(2) {
            font-weight: 400;
          }
        }
        .position-center-list {
          width: 100%;
          .ant-btn {
            border-style: dashed;
            i{
              position: relative;
              top: -4px;
            }
          }
          margin-bottom: 20px;
          .position-center-item {
            display: flex;
            margin-bottom: 10px;
            .address-text {
              width: 357px;
              line-height: 35px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              border: #d6d8de 1px solid;
              border-radius: 4px;
              padding-left: 10px;
            }
            .action-btn-container {
              padding: 10px;
              border: #d6d8de 1px solid;
              border-radius: 4px;
              margin-left: 10px;
              img {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }

      .data-source-select {
        margin-bottom: 26px!important;
        width: 100%;
      }
      .data-link-set {
        width: 100%;
        margin-bottom: 26px!important;
        &.has-error {
          border-color: #f5222d;
          color: #f5222d;
        }
      }
    }
  }
}

.image-upload-container {
  position: relative;
  .image-upload {
    position: relative;
    opacity: 0;
    z-index: 2;
    height: 50px;
  }

  .image-upload-control {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
  }
}

.image-upload-preview {
  border: 4px solid #fff;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.btn-image-clear {
  margin: 15px 0;
  padding: 15px;
}

@media (max-width: $screen-sm-min) {
  .react-form-builder {
    position: relative;

    .react-form-builder-preview {
      width: 100%;

      .edit-form {
        width: 100%;
        overflow: scroll;

        .btn {
          margin-top: 10px;
        }

        .dynamic-option-list ul li input.form-control {
          width: 100%;
        }
      }

      .Sortable .rfb-item .toolbar-header .toolbar-header-buttons {
        right: -15px;
        .btn {
          margin-right: 5px;
          border-radius: 50%;
          padding: 7px 0px 0 3px;
          width: 35px;
          height: 35px;
        }
      }
    }

    .react-form-builder-toolbar {
      h4 {
        padding: 10px;
        background: #7a0019;
        color: #fff;
      }

      width: 100%;
      position: fixed;
      z-index: 900;
      bottom: -320px;

      -webkit-transition: transform 0.5s;
      transition: transform 0.5s;

      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);

      right: 0;
      border-top: 2px solid #ccc;

      ul {
        height: 300px;
        overflow-x: scroll;
      }
    }

    .active-toolbar {
      -webkit-transform: translate(0, -300px);
      transform: translate(0, -300px);
    }
  }

  .m-signature-pad {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    min-width: 250px;
    min-height: 140px;
    margin: 0;
  }
}

.visible_marks {
  display: block;
  width: 100%;
  padding: 0 4px;
  label {
    text-align: center;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-weight: normal;
    &:first-of-type {
      text-align: left;
    }
    &:last-of-type {
      text-align: right;
    }
  }
}

.m-signature-pad {
  font-size: 10px;
  width: auto;

  .m-signature-pad--body {
    width: auto;
    height: 200px;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    height: 200px;
    border-radius: 4px;

    canvas {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
    }
  }

  .m-signature-pad--footer {
    position: relative;
    margin-top: 10px;
  }
}

#formPlaceHolder {
  margin-left: 2%;
  margin-top: 2%;
  height: 96%;
  width: 96%;
  border: 1px dashed #d6d8de;
  text-align: center;
  color: #d6d8de;
  visibility: visible;
  .place-text {
    &.isdragging {
      background: rgba(233, 243, 255, 1);
      outline: 1px dashed rgba(0, 122, 255, 1);
    }
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #565c6e;
    vertical-align: middle;
    font-size: 14px;
  }
}
.hover-emptyDom {
  border: 1px dashed rgba(0, 122, 255, 1) !important;
}

.toolbar-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  padding: 0 9px 9px 9px;
  .header-icon {
    width: 18px;
    margin: 0 9px 0 3px;
  }
}

// 设置弹出框的样式
// .ant-modal-content {
//   background: rgba(255, 255, 255, 1);
//   box-shadow: 0px 6px 21px 0px rgba(158, 158, 166, 0.32);
//   border-radius: 6px;
//   .ant-modal-close-x {
//     display: table-cell;
//     vertical-align: middle;
//   }
//   .ant-modal-body {
//     padding: 0px;
//   }
  // 在这里设置模态框的样式
  .backModalContent {
    width: 350px;
    height: 160px;
    .header {
      height: 40px;
      width: 350px;
      display: flex;
      align-items: center;
      img {
        margin-left: 24px;
        width: 20px;
        height: 20px;
      }
      span {
        font-size: 14px;
        font-family: PingFangSC-Medium, PingFang SC;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.75);
        margin-left: 12px;
      }
    }
    .body {
      height: 48px;
      width: 350px;
      p {
        font-size: 14px;
        font-family: "PingFangSC-Regular", "PingFang SC";
        margin-left: 60px;
        margin-top: 10px;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
      }
    }
    .footer {
      height: 72px;
      width: 350px;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
      .ant-btn {
        width: 65px;
        height: 32px;
        background: rgba(255, 255, 255, 1);
        color: rgba(0, 122, 255, 1);
        border-radius: 4px;
        border: 1px solid rgba(0, 122, 255, 1);
        &:nth-child(2) {
          background: rgba(41, 120, 255, 1);
          margin-left: 8px;
          margin-right: 10px;
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }
  .conditionModalContent {
    width: 540px;
    height: 70px;
    margin: auto;
    margin-top: 11px;
    .ModalContentInput {
      width: 540px;
      height: 70px;
      .ant-input {
        height: 70px;
      }
    }
    .ModalContentVerification {
      width: 540px;
      height: 270px;
      margin-top: 10px;
      background: rgba(255, 255, 255, 1);
      border-radius: 4px;
      border: 1px solid rgba(214, 216, 222, 1);
      overflow: hidden;
      .ant-tabs {
        height: 270px;
        // overflow: scroll;
        .ant-tabs-top-bar {
          margin-bottom: 10px;
        }
        .ant-tabs-nav {
          height: 39px;
          .ant-tabs {
            line-height: 39px;
            font-size: 13px;
            font-family: "PingFangSC-Regular", "PingFang SC";
            font-weight: 400;
            color: rgba(51, 51, 51, 1);
          }
        }
        .ant-tabs-content {
          // 展示可用字段
          .ItemList {
            text-align: left;
            width: 540px;
            height: 230px;
            overflow-y: auto;
            .ant-input {
              margin-left: 8px;
              width: 152px;
              height: 22px;
              border-radius: 4px;
              border: 1px solid rgba(214, 216, 222, 1);
            }
            p {
              font-size: 12px;
              margin-left: 8px;
              font-family: "PingFangSC-Regular", "PingFang SC";
              font-weight: 400;
              color: rgba(51, 51, 51, 1);
              margin-top: 8px;
              cursor: pointer;
              &:nth-child(1) {
                margin-top: 11px;
              }
              &:hover {
                background: rgba(247, 247, 247, 1);
              }
            }
          }
          // 展示公式
          .formulaChoose {
            width: 540px;
            height: 230px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            .formulaList {
              width: 197px;
              height: 250px;
              text-align: center;
              overflow: scroll;
              .formulaListItem {
                width: 100%;
                height: 25px;
                p {
                  margin-bottom: 1px;
                  margin-left: 30px;
                  font-size: 12px;
                  font-weight: 400;
                  color: rgba(102, 102, 102, 1);
                  cursor: pointer;
                }
                &:hover {
                  background: rgba(247, 247, 247, 1);
                }
                &.search {
                  text-align: left;
                  line-height: 25px;
                }
              }
              .ant-input {
                width: 152px;
                margin: auto;
                height: 22px;
                border-radius: 4px;
                border: 1px solid rgba(214, 216, 222, 1);
              }
              .ant-collapse {
                background-color: white;
                border: none;
                .ant-collapse-item {
                  border-bottom: none;
                  text-align: left;
                  .ant-collapse-header {
                    padding: 4px 5px;
                    margin-left: 25px;
                    font-size: 12px;
                    font-family: "PingFangSC-Regular", "PingFang SC";
                    font-weight: 400;
                    color: rgba(51, 51, 51, 1);
                    i {
                      margin-left: -24px;
                    }
                  }
                  .ant-collapse-content {
                    border-top: none;
                    .ant-collapse-content-box {
                      padding: 0px;
                      text-align: left;
                    }
                  }
                }
              }
            }
            .formulaDiscribe {
              width: 343px;
              height: 230px;
              border-left: 1px solid rgba(214, 216, 222, 1);
              .formulaDiscribeContent {
                width: 300px;
                margin: auto;
                p {
                  font-size: 13px;
                  font-family: "PingFangSC-Regular", "PingFang SC";
                  font-weight: 400;
                  color: rgba(41, 120, 255, 1);
                }
              }
            }
          }
        }
      }
    }
  }
  .ant-modal-footer {
    border: none;
    margin-top: 10px;
    .ant-btn {
      width: 98px;
      height: 36px;
      border-radius: 4px;
      border: 1px solid rgba(41, 120, 255, 1);
      &:nth-child(2) {
        background: rgba(41, 120, 255, 1);
      }
    }
  }
  .map-modal-container-content {
    .tip-input {
      position: absolute;
      top: 80px;
      left: 6%;
    }
    .err-border {
      border: 1px red solid;
    }
    .range-number-warper {
      margin-left: 20px;
      margin-top: 16px;
      .ant-input-number {
        margin-bottom: 8px;
        margin-left: 10px;
      }
      .orientation-range-tip {
        font-size: 12px;
        margin-left: 68px;
      }
    }
  }

/*
*
* 地址样式
*
*/
.form-address {
  .row {
    display: flex;
    margin: 0;
    .ant-select {
      flex: 1;
      margin-bottom: 5px;
      &:nth-child(2) {
        margin: 0 5px;
      }
    }
  }
  .err-message {
    overflow: hidden;
    p {
      transform: translateY(-100%);
      transition: all 0.2s;
    }
  }
  &.has-error {
    .err-message {
      p {
        transform: translateY(0);
      }
    }
  }
}

.component-template-modal-container {
  padding: 0 8%;
  .ant-select-selection {
    margin-bottom: 1em;
  }
  p {
    margin-bottom: 0.4em;
  }
}

