.element-header {
  height: 30px;
  background-color: lightgray;
  border: 1px solid lightgrey;
}

.element-header-back {
  height: 30px;
  width: 2%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  .ant-btn-link {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(86, 92, 110, 1);
  }
  .ant-btn {
    padding: 0px;
  }
}

.rename-element {
  display: inline;
  border: none;
  margin-left: 10px;
  background-color: transparent;
}

.element-header-save {
  float: right;
  margin-right: 15px;

  span {
    background-color: #169bd5;
    color: white;
  }
}

.element-blank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}