.element-header {
  height: 40px;
  line-height: 40px;
  background-color: rgb(38, 163, 240);
  color: #fff;
}

.element-header-back {
  height: 30px;
  width: 2%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  .ant-btn-link {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 500;
    color: rgb(250, 251, 252);
  }
  .ant-btn {
    padding: 0px;
  }
}

.rename-element {
  display: inline;
  border: none;
  margin-left: 10px;
  background-color: transparent;
  color: #FFFFFF;
}

.element-header-save {
  float: right;
  margin-right: 15px;
  span {
    background-color: #fff;
    color: rgb(38, 163, 240);
    display: inline-block;
    width: 60px;
    height: 32px;
    line-height: 32px;
    border-radius: 6%;
    margin-top: 3px;
  }
}

.element-blank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}