.hideHeader {
  width: 100vw;
  height: 40px;
}

.homeHeader {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
  // width: 100%;
  color: #ddd;
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    .logo {
      width: 80px;
      padding: 5px 0;
      height: 100%;
    }
    .nav {
      flex: 1;
      position: absolute;
      left: 0;
      height: 40px;
      // margin-left: 30px;
      :global(.ant-menu-horizontal) {
        border-bottom: 0;
        color: rgba(255, 255, 255, 0.6);
        :global(.ant-menu-item-selected) {
          color: rgba(255, 255, 255, 1);
          border-bottom: 4px solid rgba(255, 255, 255, 1);
        }
      }
    }

    .operations {
      flex: 1;
      text-align: right;
      padding-right: 30px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      & > button {
        &:hover {
          background: rgba(255, 255, 255, 0.2) !important;
        }
        & > div {
          color: rgba(255, 255, 255, 0.9);
          & > svg {
            stroke: rgba(255, 255, 255, 0.9);
          }
        }
      }
    }
    & > div:last-child {
      & > a {
        font-size: 14px;
        & > svg {
          position: relative;
          top: -2px;
        }
      }
    }
    // .user {
    //   width: 80px;
    // }
  }
}
.breadCrumbs {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  > div {
    -moz-user-select: none; /*火狐 firefox*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10+*/
    user-select: none;
    & > span:nth-last-child(2) {
      & > span:last-child {
        & > svg {
          stroke: rgba(255, 255, 255, 0.6) !important;
        }
      }
    }
  }
  :global(.ant-breadcrumb-separator) {
    & svg {
      stroke: rgba(255, 255, 255, 0.6);
      margin: 0 11px !important;
    }
  }
}
.breadcrumbItem {
  color: rgba(255, 255, 255, 0.6);
  &.active {
    cursor: pointer;
    &:hover {
      color: rgba(255, 255, 255, 0.9);
    }
  }
  &.disabled {
    color: rgba(255, 255, 255, 0.9);
  }
}

.table {
  width: 100%;
  height: 100%;
  tr {
    height: 60px;
  }
  th {
    font-weight: unset;
    border-bottom: 1px solid #dcdee3;
    width: 200px;
  }
  td {
    width: 200px;
    font-weight: unset;
    border-bottom: 1px solid #dcdee3;
  }
}

.overlay {
  background: #ffffff;
  box-shadow: 0px 2px 6px #d2d4db;
  border-radius: 3px;
  top: 40px !important;
  & > ul {
    & > li {
      color: #333333 !important;
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding: 0 15px !important;
      min-width: 160px;
      & > a {
        color: #333333 !important;
        position: relative;
        & > svg {
          position: absolute;
          right: 0;
          top: 15px;
        }
      }
      &::selection {
        background: #ffffff !important;
        color: #333333 !important;
      }
      &:global(.ant-menu-item-selected) {
        background: none !important;
      }
      &:hover {
        background: #e7f0ff !important;
        color: #333333 !important;
      }
    }
    & > li:first-child {
      & > a {
        color: #777f97 !important;
      }
      color: #777f97 !important;
      cursor: auto;
      font-size: 13px;
      margin-bottom: 0px !important;
      -moz-user-select: none; /* Firefox私有属性 */
      -webkit-user-select: none; /* WebKit内核私有属性 */
      -ms-user-select: none; /* IE私有属性(IE10及以后) */
      -khtml-user-select: none; /* KHTML内核私有属性 */
      -o-user-select: none; /* Opera私有属性 */
      user-select: none; /* CSS3属性 */
      background-color: #ffffff !important;
      &:hover {
        background: #ffffff !important;
        color: #777f97 !important;
      }
    }
    & > li:last-child {
      margin-bottom: 6px !important;
    }
  }
}

.userDetail {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  background: #f0f2f5;
  & > div {
    position: absolute;
    top: 6vw;
    width: 1000px;
    // height: 406px;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 56px;
      & > span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #333333;
      }
    }
    & > ul {
      list-style-type: none;
      background: #ffffff;
      & > li {
        display: flex;
        align-items: center;
        height: 50px;
        border-top: 1px solid #dcdee3;
        & > span:first-child {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #777f97;
          position: absolute;
          left: 39px;
        }
        & > span:nth-child(2) {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #333333;
          position: absolute;
          left: 770px;
          & > span {
            margin-left: 19px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #2a7fff;
            cursor: pointer;
          }
        }
      }
      & > li:first-child {
        border-top: none;
      }
    }
  }
}

.detailUpdateModal {
  & form {
    & input {
      width: 371px;
      height: 40px;
      // border: 1px solid #d6d8de;
      box-sizing: border-box;
      border-radius: 6px;
    }
    & > div:last-child {
      & button {
        width: 371px;
      }
    }
  }
}

.modalForm {
  & > div {
    display: flex !important;
    & input {
      width: 308px !important;
    }
    & > div:first-child {
      text-align: right;
      width: 76px !important;
      & > label {
        font-size: 14px;
        color: #333333;
      }
    }
  }
  & > div:last-child {
    & > div {
      width: 100% !important;
      padding-left: 76px;
      text-align: left;
    }
  }
}

.detailUpdateModalPhone {
  & > div {
    & input:nth-child(1) {
      width: 162px !important;
      border-top-right-radius: 6px !important;
      border-bottom-right-radius: 6px !important;
    }
    & input:nth-child(2) {
      width: 258px !important;
    }
    & > div:first-child {
      text-align: right;
      width: 96px !important;
    }
  }
  & > div:last-child {
    & > div {
      width: 100% !important;
      padding-left: 96px;
      text-align: left;
    }
  }
  &:global(.ant-modal-content) {
    box-shadow: 0 4px 20px #aea5b7;
  }
}

.prompt {
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  & > span {
    & > sup {
      width: 11px !important;
      height: 11px;
      min-width: 11px !important;
      top: 3px !important;
      right: 1px !important;
      & > span {
        position: relative;
        left: -3px;
        top: -5px;
      }
    }
  }
}
.title {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  position: absolute;
  left: 20px;
}

.homeNav {
  & > ul {
    position: absolute;
    left: 60px;
    display: flex;
    align-items: center;
    height: 40px;
    border: none !important;
    & > li {
      width: 72px;
      height: 28px;
      // background: rgb(42, 127, 255);
      top: 0 !important;
      margin-top: 0 !important;
      border: none !important;
      border-radius: 2px;
      line-height: 28px;
      text-align: center;
      padding: 0;
      margin-right: 20px;
      & :hover {
        background: rgba(255, 255, 255, 0.2) !important;
        border-radius: 2px;
      }
      &:global(.ant-menu-item-selected) {
        & > span {
          color: #2a7fff !important;
        }
        background: #ffffff !important;
      }
    }
    & > li > span {
      width: 72px;
      height: 28px;
      display: inline-block;
      border: none !important;
      border-radius: 2px;
      line-height: 28px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #ffffff;
      text-align: center;
      & > sup {
        box-shadow: none !important;
        &:hover {
          background: red !important;
          border-radius: 50% !important;
        }
      }
    }
    & > .selected {
      background: #ffffff !important;
      color: #2a7fff !important;
    }
  }
}

.signoutModal {
  position: fixed !important;
  top: calc((100vh - 170px) / 2 - 60px) !important;
  left: calc((100vw - 404px) / 2);
  height: 170px !important;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(165, 174, 183, 0.25);
  border-radius: 5px;
  & > div:nth-child(2) {
    & > div {
      border: none;
    }
    & > div:nth-child(1) {
      padding: 26px 0 8.5px 30px !important;
      & > div {
        & > svg {
          margin: auto 10px auto auto;
          position: relative;
          top: 3px;
        }
      }
    }
    & > div:nth-child(2) {
      padding: 0 0 39px 30px !important;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #777f97;
    }
    & > div:nth-child(3) {
      padding: 0 0 21px 234px !important;
      margin: 0;
      & > div {
        text-align: left;
        & > button {
          width: 70px;
          height: 32px;
          border-radius: 3px;
        }
        & > button:first-child {
          border: 1px solid #b6b6ba !important;
          box-sizing: border-box;
          &:hover {
            background: #f3f3f3 !important;
            border: 1px solid #b6b6ba;
            box-sizing: border-box;
            border-radius: 3px;
          }
        }
        & > button:last-child {
          background: #2a7fff;
          &:hover {
            background: #579aff !important;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

.backImg {
  &:hover {
    background-image: url("../../assets/icons/header/arrowLeftBG.svg");
  }
}
