.homeHeader {
  // position: absolute;
  // width: 100%;
  color: #ddd;
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: row;
    .logo {
      width: 80px;
      padding: 5px 0;
      height: 100%;
    }
    .nav {
      flex: 1;
      padding-left: 30px;
      :global(.ant-menu-horizontal) {
        border-bottom: 0;
        color: rgba(255, 255, 255, 0.6);
        :global(.ant-menu-item-selected) {
          color: rgba(255, 255, 255, 1);
          border-bottom: 4px solid rgba(255, 255, 255, 1);
        }
      }
    }

    .operations {
      flex: 1;
      text-align: right;
      padding-right: 30px;
    }
    // .user {
    //   width: 80px;
    // }
  }
}
.breadCrumbs {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  > div {
    -moz-user-select: none; /*火狐 firefox*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10+*/
    user-select: none;
  }
  :global(.ant-breadcrumb-separator) {
    color: #ddd;
  }
}
.breadcrumbItem {
  color: #ddd;
  &.active {
    cursor: pointer;
    &:hover {
      color: #3786fe;
    }
  }
  &.disabled {
    color: #aaa;
  }
}

.table {
  width: 100%;
  height: 100%;
  tr {
    height: 60px;
  }
  th {
    font-weight: unset;
    border-bottom: 1px solid rgb(154, 154, 154);
    width: 200px;
  }
  td {
    width: 200px;
    font-weight: unset;
    border-bottom: 1px solid rgb(154, 154, 154);
  }
}

.overlay {
  top: 50px !important;
}

.userDetail {
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  background: #f0f2f5;
  & > div {
    position: absolute;
    top: 6vw;
    background: #ffffff;
    width: 1000px;
    height: 300px;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 53px;
      & > span {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #333333;
      }
    }
    & > ul {
      list-style-type: none;
      & > li {
        display: flex;
        align-items: center;
        height: 47px;
        border-top: 1px solid #eeeeee;
        & > span:first-child {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #777f97;
          position: absolute;
          left: 39px;
        }
        & > span:nth-child(2) {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          color: #333333;
          position: absolute;
          left: 770px;
          & > span {
            margin-left: 19px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #2a7fff;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.detailUpdateModal {
  & form {
    & input {
      width: 371px;
      height: 40px;
      border: 1px solid #d6d8de;
      box-sizing: border-box;
      border-radius: 6px;
    }
    & > div:last-child {
      & button {
        width: 371px;
      }
    }
  }
}

.modalForm {
  & > div {
    display: flex !important;
    & input {
      width: 308px !important;
    }
    & > div:first-child {
      text-align: right;
      width: 76px !important;
      & > label {
        font-size: 14px;
        color: #333333;
      }
    }
  }
  & > div:last-child {
    & > div {
      width: 100% !important;
      padding-left: 76px;
      text-align: left;
    }
  }
}

.detailUpdateModalPhone {
  & > div {
    & input:nth-child(1) {
      width: 195px !important;
      border-top-right-radius: 6px !important;
      border-bottom-right-radius: 6px !important;
    }
    & input:nth-child(2) {
      width: 258px !important;
    }
    & > div:first-child {
      text-align: right;
      width: 96px !important;
    }
  }
  & > div:last-child {
    & > div {
      width: 100% !important;
      padding-left: 96px;
      text-align: left;
    }
  }
}
