.biHeader {
  height: 30px;
  background-color: lightgray;
  border: 1px solid lightgrey;

  .ant-btn {
    height: 25px;
  }
}

.rename-db {
  display: inline;
  border: none;
  margin-left: 10px;
  background-color: transparent;
}

.rename-db:hover {
  background-color: lightgreen;
}

.headerBarBack {
    height: 30px;
    width: 2%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .ant-btn-link {
      margin-left: 10px;
      font-size: 14px;
      font-weight: 500;
      color: rgba(86, 92, 110, 1);
    }
    .ant-btn {
      padding: 0px;
    }
}

.db-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.db-toolbar {
  height: 30px;
  background-color: lightslategrey;
  display: flex;
  align-items: center;
}

.new-chart-icon {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
}

.new-chart {
  margin-left: 10px;
  cursor: pointer;
}

.db-header-save {
  float: right;
  margin-right: 15px;

  span {
    background-color: #169bd5;
    color: white;
  }
}

.layout-column {
  display: flex;
}