@import "./modal/modal.scss";

$input-placeholder-color: rgb(201, 206, 217);

input::-webkit-input-placeholder { /* WebKit browsers */ 
  color: $input-placeholder-color; 
} 

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
  color: $input-placeholder-color; 
} 

input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
  color: $input-placeholder-color; 
} 

input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
  color: $input-placeholder-color; 
} 
