.chart-editor {
  display: inline-flex;
}

.bind-container {
  min-width: 1000px;
  width: 70%;
}

.chart-container {
  flex: 1;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
