.bind-pane {
  border: 10px solid #adb5bd;
}

.bind-line {
  display: inline-flex;
  align-items: center;
  width:100%;
  height:30px;
  border-style: dotted;
  border-color: #adb5bd;
  // min-width: 900px;
  margin-top: 5px;

  .bind-label {
    width: 40px;
  }

  .bind-child {
    text-align: center;
    // border-radius: 10px;
    width: 80px;

    height: 26px;
    line-height: 26px;
    font-family: Microsoft YaHei;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;

    margin-left: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .cancelIcon{
    height: 26px;
    width: 16px;
    background-color: #00C59F;
    margin-right: -1px;
  }
  .ant-select {
    .ant-select-selection {
      width: 100%;
      height: 26px;
      display: flex;
      border-radius: 0px;
      align-items: center;
      font-family: Microsoft YaHei;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      color: #FFFFFF;
      border: none;
      background-color: #00C59F;
      .ant-select-arrow {
        color: rgba(255, 255, 255, 1);
      }
      .ant-select-selection-selected-value{
        max-width: 120px;
      }
    }
  }
  .bind-child-dim {
    @extend .bind-child;
    background-color: #2B81FF;
  }

  .bind-child-mea {
    @extend .bind-child;
    width: auto;
    display: flex;
  }
}


.left-pane {
   display: flex;
  //  width: 240px;
   height:100%;
   flex-direction: column;
   border: 1px solid #adb5bd;

  .left-pane-data {
    height: 20%;
    border: 1px solid #adb5bd;
   }

  .left-pane-dimension {
    height: 40%;
    border: 1px solid #adb5bd;
  }

  .left-pane-measure {
    height: 40%;
    border: 1px solid #adb5bd;
  }

  .data-source-name {
    font-size: 15px;
  }

  .data-source-name:hover {
    background-color: lightblue;
    text-decoration: underline;
    cursor: pointer;
  }
}

.right-pane {
  display: flex;
  height:100%;
  flex-direction: column;
  border: 1px solid #adb5bd;

  .right-pane-chart {
    height: 30%;
    border: 1px solid #adb5bd;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    .IconBox{
      width: 54px;
      height: 54px;
      margin: 5px;
      box-sizing: border-box;
      position: relative;
      border: 2px solid transparent;
      i{
        right: 0;
        top: 0;
        position: absolute;
        font-size: 50px;
        color:lightgreen;
      }
    }
    .activeIcon{
      border: 2px solid #169bd5;
    }
   }

  .right-pane-tools {
    height: 30%;
    border: 1px solid #adb5bd;
  }
}

.col-title {
  text-align: center;
}

.bind-item {
  height: 20px;
  margin: 3px;
  overflow: hidden;
}

.bind-item:hover {
  background-color: lightgreen;
}