.wrapper {
  width: calc(100vw - 220px);
  padding: 29px 21px;
  > span {
    font-size: 18px;
    display: inline-block;
    padding: 0 0 41px 0;
    color: #333333;
  }
  img {
    margin: 0 6px 3px 0;
  }
  > button {
    float: right;
    color: #1890ff;
    width: 104px;
    height: 36px;
    padding: 0;
    margin-left: 20px;
  }
  :global(.ant-table) {
    tr {
      background-color: #fff;
      td:first-child {
        color: #000000;
      }
    }
    button {
      padding: 0 30px 0 0;
    }
  }
  :global(.ant-table-thead > tr > th) {
    padding: 14px;
    background: #fff;
  }
  :global(.ant-table-tbody > tr > td) {
    padding: 9px 16px;
  }
  :global(.ant-table-column-title) {
    color: #777f97;
  }
  :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: transparent;
  }
  :global(.ant-checkbox-checked .ant-checkbox-inner::after) {
    border: 2px solid #1890ff;
    border-top: 0;
    border-left: 0;
  }
}

.moduleTitle {
  font-size: 15px;
  margin: 30px 8px 10px 0;
  display: inline-block;
}

// 基础信息
.groupBasic {
  tbody {
    background: #fff;
    width: calc(100vw - 263px);
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    tr {
      line-height: 36px;
      td {
        padding: 7px 20px;
      }
      td:first-child {
        width: 250px;
        color: #777f97;
      }
      td:nth-child(2) {
        display: block;
        width: 250px;
        height: 50px;
        color: #333;
        overflow-y: hidden;
        overflow-x: hidden;
        span {
          max-width: 190px;
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        img {
          float: absolute;
          margin: 5px 0 35px 4px;
          cursor: pointer;
        }
      }
    }
  }
}

// 应用管理
.groupApp {
  table {
    border-top: 1px solid #e8e8e8;
  }
  :global(td:nth-child(2) label) {
    margin-left: 20px;
  }
  :global(.ant-table-thead > tr > th) {
    padding: 14px 14px 14px 30px;
  }
  :global(.ant-table-tbody > tr > td) {
    padding: 9px 16px 9px 30px;
  }
  .radioStyle {
    background-color: #fff;
    padding: 12px 12px 12px 30px;
    label {
      margin: 0 0 0 20px;
    }
  }
}

.groupManage {
  :global(.ant-checkbox-group) {
    display: block;
    background: #fff;
    padding: 14px 16px;
  }
  :global(.ant-checkbox-group-item) {
    margin: 0 60px 0 10px;
    color: #333;
  }
  :global(.ant-radio-group) {
    display: block;
    background: #fff;
    padding: 14px 30px;
    label {
      margin-right: 20px;
    }
  }
  .checkboxStyle {
    background: #fff;
    padding: 14px 30px;
    label {
      margin: 0 60px 0 10px;
    }
  }
}

.groupSetting {
  input {
    width: 15%;
  }
  > div {
    background: #fff;
    padding: 9px 0;
    color: #000;
  }
  .star {
    font-family: SimSun, sans-serif;
    color: #f5222d;
    margin-left: 10px;
    display: inline-block;
  }
  input {
    margin: 0 5px;
  }
}
