.wrapper {
  padding: 37px 21px;
  > span {
    font-size: 16px;
    display: inline-block;
    padding: 8px 0 0 0;
    color: #333333;
  }
  > button {
    float: right;
    color: #1890ff;
    width: 100px;
    padding: 0;
    margin-left: 20px;
    margin-bottom: 34px;
  }
  :global(.ant-table) {
    tr:nth-child(odd) {
      background-color: #f3f5f9;
    }
    tr:nth-child(even) {
      background-color: #fff;
    }
    button {
      padding: 0 30px 0 0;
    }
    td {
      color: #000000;
    }
  }
  :global(.ant-table-thead > tr > th) {
    padding: 14px 16px;
    background: #fff;
  }
  :global(.ant-table-tbody > tr > td) {
    padding: 9px 16px;
  }
  :global(.ant-table-column-title) {
    color: #777f97;
  }
  :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: transparent;
  }
  :global(.ant-checkbox-checked .ant-checkbox-inner::after) {
    border: 2px solid #1890ff;
    border-top: 0;
    border-left: 0;
  }
}

.moduleTitle {
  font-size: 15px;
  margin: 30px 0 10px 0;
  display: inline-block;
  color: rgba(0, 0, 0, 0.65);
}
// 基础信息
.groupBasic {
  > span {
    font-size: 15px;
    margin-top: 10px;
    display: inline-block;
  }
  :global(.ant-input[disabled]) {
    background-color: #fff;
  }
  tbody {
    background: #fff;
    display: inline-table;
    width: calc(100vw - 270px);
    margin-top: 10px;
    tr {
      td:first-child {
        width: 200px;
        padding: 7px;
        color: #777f97;
      }
      td:last-child {
        color: #333;
      }
    }
    img {
      margin: 0 0 3px 2px;
      cursor: pointer;
    }
  }
}

// 应用管理
.groupApp {
  :global(td:nth-child(2)) {
    text-indent: 10px;
  }
}

.switch {
  :global(.ant-checkbox-wrapper) {
    margin-left: 5px;
  }
}

.groupManage {
  :global(.ant-checkbox-group) {
    display: block;
    background: #fff;
    padding: 14px 0;
  }
  :global(.ant-checkbox-group-item) {
    margin: 0 20px 0 10px;
  }
}

.groupSetting {
  input {
    width: 15%;
  }
  > div {
    background: #fff;
    padding: 9px 0;
    color: #000;
  }
  .star {
    font-family: SimSun, sans-serif;
    color: #f5222d;
    margin-left: 10px;
    display: inline-block;
  }
  input {
    margin: 0 5px;
  }
}
