.wrapper {
  width: calc(100vw - 220px);
  padding: 29px 21px;

  > span {
    font-size: 16px;
    display: inline-block;
    padding: 4px 0 41px 0;
    color: #333333;
  }
  svg {
    margin: 0 6px 0 0;
  }

  > button,section > button {
    float: right;
    color: #2a7fff;
    width: 104px;
    height: 36px;
    padding: 0;
    margin-left: 20px;
    border: none;
  }

  .isHide{
    display: none;
  }

  ul {
    width: 100%;
    text-align: center;
    :global(.ant-pagination-item-active) {
      background-color: #2a7fff;
      a {
        color: #fff;
      }
    }
  }
}
:global(.ant-breadcrumb) {
  display: inline-block;
  svg {
    margin-left: 8px;
  }
}

.moduleTitle {
  font-size: 15px;
  margin: 30px 8px 17px 0;
  display: inline-block;
  color: #777f97;
}

// 基础信息
.groupBasic {
  tbody {
    background: #fff;
    width: calc(100vw - 263px);
    margin-top: 10px;
    padding: 10px;
    display: inline-block;

    tr {
      line-height: 36px;

      td {
        padding: 7px 20px;
      }

      td:first-child {
        width: 250px;
        color: #777f97;
      }

      td:nth-child(2) {
        display: block;
        width: 250px;
        height: 50px;
        color: #333;
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;

        span {
          max-width: 190px;
          display: inline-block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        svg {
          position: absolute;
          margin: 10px 0 0 5px;
          cursor: pointer;
        }
      }
    }
  }
}

// 应用管理
.groupApp {
  table {
    border-top: 1px solid #dcdee3;

    th span {
      font-weight: normal !important;
    }
  }

  :global(td:nth-child(2) label) {
    margin-left: 20px;
  }

  :global(.ant-table-thead > tr > th) {
    padding: 0 30px;
  }

  :global(.ant-table-tbody > tr > td) {
    padding: 0 30px;
  }

  .radioStyle {
    background-color: #fff;
    padding: 14px 12px 14px 30px;
    label {
      margin: 0 0 0 20px;
      cursor: default;
      span {
        cursor: default;
      }
    }
  }
}

.groupManage {

  :global(.ant-radio-group) {
    display: block;
    background: #fff;
    padding: 14px 30px;

    label {
      margin-right: 20px;
      cursor: default;
      span {
        cursor: default;
      }
    }
  }
}

.groupSetting {
  input {
    width: 15%;
  }

  > div {
    background: #fff;
    padding: 9px 0;
    color: #000;
  }

  .star {
    font-family: SimSun, sans-serif;
    color: #f5222d;
    margin-left: 10px;
    display: inline-block;
  }

  input {
    margin: 0 5px;
  }
}
