.BIChartModal{
    :global(.ant-modal){
      padding-bottom: 0px;
      padding-top: 0px;
      :global(.ant-modal-content){
        height: 100%;
        border-radius: 0px;
        :global(.ant-modal-body) {
          padding: 0px;
          .modalChartContainer{
            width: 100%;
            height: 100%;
            background-color: white;
            position: relative;
            .chartContainer{
              flex: 1;
              display: flex;
              flex-direction: column;
              height: 700px;
              margin: 12px;
              margin-top: 0px;
              background: #ffffff;
              position: relative;
            }
          }
        }
      }
    }
  }