.BImodal{
  font-family: Microsoft YaHei;
  font-style: normal;
  font-weight: normal;
  .ant-modal {
    .ant-modal-header {
      padding: 0px;
      border-bottom: none;
      .formchoiceModalTitle {
        width: 500px;
        height: 39px;
        line-height: 39px;
        padding-left: 20px;
        // box-shadow: 0px 4px 20px rgba(134, 167, 197, 0.25);
        border-bottom: 1px solid #DCDEE3;
        font-weight: 400;
        span {
          &:nth-child(1) {
            font-size: 15px;
            color: #333333;
          }
          &:nth-child(2) {
            font-size: 12px;
            color: #777f97;
            margin-left: 23px;
          }
        }
      }
      .normalModalTitle {
        width: 400px;
        height: 44px;
        padding-left: 30px;
        padding-top: 26px;
        font-size: 15px;
        display: flex;
        align-items: center;
        i {
          color: #ffa132;
          margin-right: 9px;
        }
      }
    }
  
    .ant-modal-body {
      padding: 0px;
      .formChoiceModalContainer {
        width: 500px;
        height: 370px;
        .formGroups {
          width: 100%;
          height: 300px;
          overflow-y: auto;
          &::-webkit-scrollbar {
            width: 6px;
          }
          .ant-collapse-item {
            border-bottom: none;
            font-weight: 400;
            color: #333333;
            background-color: #ffffff;  
            &:nth-child(1){
              margin-top: 20px;
            }
            .ant-collapse-header {
              padding: 4px 16px;
              padding-left: 40px;
              font-size: 13px;
            }
            .ant-collapse-content-box {
              padding: 0px ;
              span {
                font-size: 13px;
                display: block;
                width: 100%;
                height: 26px;
                line-height: 26px;
                padding: 0px 20px 0px 42px;
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                i {
                  margin-right: 10px;
                  &:nth-child(2) {
                    position: absolute;
                    top: 6px;
                    right: -6px;
                    color: #2b81ff;
                  }
                }
                &:hover {
                  background-color: rgba(43, 129, 255, 0.1);
                }
              }
              .activeSpan {
                background-color: rgba(43, 129, 255, 0.1);
              }
            }
          }
        }
        .footBtnGroups {
          width: 100%;
          height: 50px;
          display: flex;
          position: relative;
          align-items: center;
          .ant-btn {
            width: 87px;
            height: 36px;
            font-weight: 400;
            color: rgba(41, 41, 41, 1);
            display: flex;
            justify-content: center;
            position: absolute;
            box-sizing: border-box;
            border-radius: 3px;
            font-size: 14px;
            &:nth-child(1) {
              border: 1px solid #b6b6ba;
              right: 117px;
              color: #777f97;
              &:hover {
                background: #f3f3f3;
                border: 1px solid #b6b6ba;
                color: #777f97;
              }
            }
            &:nth-child(2) {
              background: #2a7fff;
              color: rgba(255, 255, 255, 1);
              right: 20px;
              color: #ffffff;
              &:hover {
                background: #579aff;
              }
            }
          }
        }
      }
      .normalModalContainer {
        width: 400px;
        height: 130px;
        .normalModalContent {
          padding-left: 30px;
          padding-right: 24px;
          padding-top: 10px;
          width: 100%;
          height: 80px;
          font-size: 13px;
          color: #777f97;
        }
        .warningBtnGroup {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: flex-end;
          position: relative;
          padding-right: 10px;
          .ant-btn {
            width: 70px;
            height: 30px;
            font-size: 14px;
            border-radius: 3px;
            margin-right: 10px;
            &:nth-child(1) {
              border: 1px solid #b6b6ba;
              color: #777f97;
            }
            &:nth-child(2) {
              border: 1px solid #e22d2d;
              color: #e22d2d;
            }
          }
        }
        .tipBtnGroup {
          width: 100%;
          height: 50px;
          display: flex;
          justify-content: flex-end;
          position: relative;
          padding-right: 10px;
          .ant-btn {
            width: 70px;
            height: 30px;
            font-size: 14px;
            border-radius: 3px;
            margin-right: 10px;
            border: 1px solid #b6b6ba;
            color: #777f97;
            &:nth-child(3) {
              background-color: #2a7fff;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  
}