.container {
  padding: 29px 21px 0px;
}

.title {
  color: #333;
  font-size: 18px;
  margin-bottom: 41px;
  margin-top: 4px;
}

.lable {
  color: #777f97;
}

.text {
  color: #333;
}

.text::after {
  content: '';
  display: block;
  clear: both;
}

.overInfo {
  cursor: pointer;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 60%;
}

.listBox {
  background-color: #fff;
  font-size: 14px;
}

.infoInput {
  width: auto !important;
  padding: 0 11px;
}

.edit {
  & svg {
    margin-left: -2px;
    font-size: 12px;
    transform: translateY(3px);
  }
}

//teamMember
.rowBox {
  width: 100%;
  height: 32px;
  padding: 0 16px;
  line-height: 32px;
  box-sizing: border-box;
}

.filterSvg {
  margin-right: 8px;
  line-height: 32px;
  transform: translateY(2px);
}

.filterBtn {
  background: #ffffff !important;
  margin-left: 20px;
  height: 36px !important;
  border-radius: 3px !important;
  width: 104px;
}

.changeGroup {
  padding-left: 0 !important;
}

.tableBox {
  :global(.ant-table-column-title) {
    color: #333;
  }

  :global(.ant-table) {
    th {
      color: #333;
      font-size: 14px;
      padding: 14px 16px;
      background: #fff;
    }

    td {
      padding: 0 16px;
      color: #000;
    }
  }

  :global(.ant-table-thead > tr > th) {
    padding: 14px;
    background: #fff;
    border-bottom: 1px solid #dcdee3;
  }

  :global(.ant-table-thead > tr:first-child > th:first-child) {
    border-radius: 0px;
  }

  :global(.ant-table-thead > tr:first-child > th:last-child ) {
    border-radius: 0px;
  }

  :global(.ant-table-tbody > tr > td) {
    padding: 9px 16px;
    border-bottom: 1px solid #dcdee3;
  }

  :global(.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td) {
    background-color: #e7f0ff;
  }

  :global(.ant-table-tbody > tr:last-child > td) {
    border-bottom: 0;
  }

  .rowKey {
    height: 50px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
  }
}

.filterRow {
  padding: 10px 10px 10px 0 !important;
}

.submitBtn {
  margin-left: 10px;
}