.container {
  padding: 29px 21px 0px;
}

.title {
  color: #333;
  font-size: 18px;
  margin-bottom: 41px;
}

.lable {
  color: #777f97;
}

.text {
  color: #333;
}

// .text::after{
//   content: '';
//   display: block;
//   clear: both;
// }

// .overInfo {
//   float: left;
//   display: block;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
//   max-width: 60%;
// }

.listBox {
  padding: 5px 30px;
  background-color: #fff;
  font-size: 14px;
}

.infoInput {
  width: auto !important;
  padding: 0 11px;
}

.edit {
  & svg {
    margin-left: -2px;
    font-size: 12px;
    transform: translateY(3px);
  }
}

//teamMember
.rowBox {
  width: 100%;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
}

.filter {
  padding: 0 0 10px 0;
}

.filterSvg {
  margin-right: 8px;
  line-height: 32px;
  transform: translateY(2px);
}

.filterBtn {
  background: #ffffff !important;
  margin-left: 20px;
  height: 36px !important;
  border-radius: 3px !important;
}

.changeGroup {
  padding-left: 0 !important;
}

.tableBox {
  & th {
    padding: 14px !important;
    background: #fff !important;
    color: #333 !important;
  }

  .rowKey {
    height: 50px;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;

    & td {
      padding: 0 16px;
    }
  }

  // & .rowKey:nth-of-type(2n) {
  //   background-color: #fff;
  // }

  // & .rowKey:nth-of-type(2n + 1) {
  //   background-color: #edf2fd;
  // }
}
