.container {
  padding: 29px 21px 0px;
}

.title {
  color: #333;
  font-size: 18px;
  margin-bottom: 41px;
}

.listBox {
  padding: 5px 30px;
  background-color: #fff;
  font-size: 14px;
}

.infoInput {
  width: auto !important;
  padding: 0 11px;
}

.edit {
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 14px;

  & svg {
    position: absolute;
    margin-top: 2px;
  }
}

//teamMember
.rowBox {
  width: 100%;
  height: 32px;
  line-height: 32px;
  box-sizing: border-box;
}

.filter {
  padding: 0 0 10px 0;
}

.filterSvg {
  margin-right: 8px;
  line-height: 32px;
  transform: translateY(2px);
}

.filterBtn {
  background: #ffffff !important;
  margin-left: 20px;
  height: 36px !important;
  border-radius: 3px !important;
  width: 104px;
}

.changeGroup {
  padding-left: 0 !important;
}

.tableBox {
  & th {
    padding: 14px !important;
    background: #fff !important;
  }
  :global(.ant-table-column-title) {
    color: #777f97;
  }
  :global(.ant-table) {
    td {
      color: #000;
    }
  }
  .rowKey {
    height: 50px;
    box-sizing: border-box;

    & td {
      padding: 0 16px;
    }
  }

  & .rowKey:nth-of-type(2n) {
    background-color: #fff;
  }

  & .rowKey:nth-of-type(2n + 1) {
    background-color: #edf2fd;
  }
}
