.customTable {
  :global(.ant-table) {
    tr {
      background-color: #fff;

      td:first-child {
        color: #000000;
      }
    }

    button {
      padding: 0 30px 0 0;
    }
  }

  :global(.ant-table-thead > tr > th) {
    padding:0 16px;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #dcdee3;
  }

  :global(.ant-table-thead > tr:first-child > th:first-child) {
    border-radius: 0px;
  }

  :global(.ant-table-thead > tr:first-child > th:last-child) {
    border-radius: 0px;
  }

  :global(.ant-table-tbody > tr > td) {
    padding:0 16px;
    height: 50px;
    border-bottom: 1px solid #dcdee3;
  }

  :global(.ant-table-tbody
      > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
      > td) {
    background-color: #e7f0ff;
  }

  :global(.ant-table-tbody > tr:last-child > td) {
    border-bottom: 0;
  }

  :global(.ant-table-column-title) {
    color: #333333;
    font-weight: bold;
    font-size: 15px;
  }
}