.customTable {
  color: rgba(0, 0, 0, 0.65);
  :global(.ant-table) {
    // tr {
    //   background-color: #fff;

    //   td:first-child {
    //     color: #000000;
    //   }
    // }

    button {
      padding: 0 20px 0 0;
    }
  }
  :global(.ant-table-cell:first-child) {
    padding-left: 24px;
  }
  :global(.ant-table-thead > tr > th) {
    background: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(240, 240, 240);
    &:first-child {
      padding-left: 24px !important;
    }
  }

  :global(.ant-table-thead > tr:first-child > th:first-child) {
    border-radius: 0px;
  }

  :global(.ant-table-thead > tr:first-child > th:last-child) {
    border-radius: 0px;
  }

  :global(.ant-table-tbody > tr > td) {
    border-bottom: 1px solid rgb(240, 240, 240);
    &:first-child {
      padding-left: 24px !important;
    }
  }

  :global(.ant-table-tbody
      > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
      > td) {
    background-color: rgb(240, 240, 240);
  }

  // :global(.ant-table-tbody > tr:last-child > td) {
  //   border-bottom: 0;
  // }
  :global(.ant-btn) {
    height: auto;
  }
  // :global(.ant-table-column-title) {
  //   color: #333333;
  //   font-weight: bold;
  //   font-size: 15px;
  // }
}

.customCheckbox {
  :global(.ant-checkbox-inner) {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 1px solid #2a7fff;
  }

  :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: transparent;
  }

  :global(.ant-checkbox-checked .ant-checkbox-inner::after) {
    border: 2px solid #2a7fff;
    border-top: 0;
    border-left: 0;
    height: 12px;
    width: 7px;
    top: 45%;
    left: 20%;
  }
  :global(.ant-checkbox-disabled.ant-checkbox-checked
      .ant-checkbox-inner::after) {
    border-color: #00000040;
  }
}

.customButton {
  margin-left: 6px;
  > svg {
    position: relative;
    top: 1px;
    margin-right: 5px;
  }
  &:global(.default) {
    border: 1px solid rgb(42, 127, 255);
    background-color: transparent;
    color: rgb(42, 127, 255);
    svg {
      rect {
        fill: rgb(42, 127, 255);
      }
    }
    &:hover,
    &:active,
    &:focus {
      svg {
        rect {
          fill: #40a9ff;
        }
      }
    }
  }
  &:global(.primary) {
    border: 1px solid rgb(42, 127, 255);
    background-color: rgb(42, 127, 255);
    color: rgb(255, 255, 255);
    svg {
      rect {
        fill: rgb(255, 255, 255);
      }
    }
  }
}

.customModal {
  .titleSpan {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #333333;
    display: flex;
    align-items: center;
  }
  :global(.ant-modal-body) {
    padding: 30px;
  }
  :global(.ant-form-item-with-help) {
    text-align: left;
  }
}
.hrColor {
  :global(.ant-modal-header) {
    border-bottom: 1px solid #dcdee3;
  }
}

.customContent {
  min-width: 860px;
}
