.top {
  padding: 0 18px;
  line-height: 64px;
  height: 64px;
  font-size: 18px;
  overflow: hidden;
  a {
    color: #000;
    display: inline-block;
    height: 100%;
  }
  .logo {
    width: 45px;
    height: 32px;
    line-height: 64px;
    box-sizing: border-box;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 8px;
    background: url(../../assets/icons/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.menu {
  &:global(.ant-menu-item-selected) {
    ::before {
      border-left: 4px solid #1890ff;
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
    }
    svg {
      g,
      polyline,
      path {
        fill: #1890ff;
      }
    }
  }
  span {
    color: #333;
  }
  svg {
    display: inline-block;
    position: relative;
    top: 3px;
    margin-right: 10px;
  }
}