.tableBox {
  padding: 0 32px;
  :global(.ant-table) {
    tr {
      background-color: #fff;
      td:first-child {
        color: #000000;
      }
    }
    td {
      > span {
        color: #1890ff;
      }
    }
    button {
      padding: 0 30px 0 0;
    }
  }
  :global(.ant-table-thead > tr > th) {
    padding: 14px;
    background: #fff;
  }
  :global(.ant-table-tbody){
    font-size: 14px;
  }
  :global(.ant-table-tbody > tr > td) {
    padding: 9px 16px;
  }
  :global(.ant-table-column-title) {
        font-family: "Microsoft YaHei";
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
  }
}
.tableTitle {
  font-family: "Microsoft YaHei";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #333333;
  padding:40px 0 30px 0;
  .totalNumber {
    color: #777f97;
  }
}
.tableContent{
  font-family: "Microsoft YaHei";
  font-style: normal;
  font-size: 14px;
}
