.box {
  padding: 50px 300px;
}
.title {
  padding: 10px 0;
}
.tabsBackground {
    background-color: #FFFFFF;
}
.agree {
  border: none;
  &:hover {
    background: #aaa;
    color: #fff;
  }
}
.approvalbox{
  padding-right:30px;
}

